<!-- <div class="container-fluid" id="popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6>conference Feedback form</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <div class="container-fluid" style=" background: #f2f4f7;">
           <form [formGroup]="ratingForm">
            <div class="form-row">
                <div class="form-group col-sm-6 mt-2">
                   <h6 class="mb-0">Rate your exprience</h6>
                </div>
                <div class="form-group col-sm-6 mt-2">
                    <h6 class="mb-0">5 being the highest</h6>
                </div>
            </div>
            <div class="form-row" *ngFor="let rating of ratingList, let i = index">
                <div class="form-group col-sm-6">
                   {{rating.title}}
                </div>
                <div class="form-group col-sm-6">
                  <div class="form-check-inline" *ngFor="let radio of [1, 2, 3, 4, 5]">
                    <input class="form-check-input" type="radio" name="gridRadios + {{rating.title}}" id="gridRadio + {{radio}}" value="{{radio}}" (change)="radioValue($event.target.value, rating.id)" >
                    <label class="form-check-label" for="gridRadios+{{radio}}">
                     {{radio}}
                    </label>
                  </div>
                  
                </div>
            </div>
           
            <hr>
            <div class="form-row">
                <div class="form-group col-sm-6 mt-2">
                   <h6 class="mb-0">Any recommendation on...</h6>
                </div>
                <div class="form-group col-sm-6 mt-2">
                    <h6 class="mb-0">Remarks</h6>
                </div>
            </div>
            <div class="form-row" >
                <div class="form-group col-sm-6">
                  Agenda Topics And speakers
                </div>
                <div class="form-group col-sm-6">
                    <input type="text"  class="form-control" placeholder="Write here" id="agenda" formControlName="agenda" >
                </div>
            </div>
            <div class="form-row" >
              <div class="form-group col-sm-6">
                Registration Process
              </div>
              <div class="form-group col-sm-6">
                  <input type="text"  class="form-control" placeholder="Write here" id="registration" formControlName="password" >
              </div>
          </div>
          <div class="form-row" >
            <div class="form-group col-sm-6">
              Event Promotion
            </div>
            <div class="form-group col-sm-6">
                <input type="text"  class="form-control" placeholder="Write here"id="event" formControlName="password" >
            </div>
          </div>
            <div class="form-row">
                <div class="form-group col-sm-6 offset-sm-3">
                    <button type="submit" class="btn btn-danger btn-block" (click)="submitFeedback()">Send Feedback</button>
                </div>
            </div>
           </form>
          </div>
        </div>
      </div>
    </div> -->

<div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="chat_section">
        <div class="popup_header">
          <h6>DHANI</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>
        <div class="container-fluid" style="background: #c5c5c5;">
          <div class="row">
            <div class="col-md-12 col-xl-12 pl-0 pr-0 pb-0">
              <embed src="assets/reinvest/images/dhani.jpg" frameborder="0" width="100%">
                <a href="https://www.dhani.com/" target="_blank"><div id="a6">
                  <div class="six" >
                  </div>
              </div></a>
              <div id="a7">
                  <div class="six" (click)="playVideo1()">
                  </div>
              </div>
              <div id="a8">
                  <div class="six" (click)="playVideo2()">
                  </div>
              </div>
              <div id="a9">
                  <div class="six" (click)="playVideo3()">
                  </div>
              </div>
              <div id="a10">
                  <div class="six" (click)="playVideo4()">
                  </div>
              </div>

            </div>
            <!-- <div class="col-md-1 col-xl-1">
                  <div class="online_chat"></div>
                </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- video Modal -->
<!-- <div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-body p-0">
              <div id="modal-video">
                  <div id="closePopup" (click)="closePopup2()">&times;</div>
                  <video id="video" preload="auto" muted autoplay src="{{player}}" width="100%" controls>
                  </video>
              </div>
          </div>
      </div>
  </div>
</div> -->

<div class="modal fade" id="playVideoUrl" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-body p-0">
              <div id="modal-video">
                  <div id="closePopup" (click)="closePopup2()">&times;</div>
                  <video id="video" preload="auto" src="{{player}}" width="100%" controls>
                  </video>
              </div>
          </div>
      </div>
  </div>
</div>