
#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
        text-transform: uppercase;
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
        
      }
    }
    .form-control{
        background: transparent;
        font-size: inherit;
    }
  }
  
  #a6{
    position: absolute;
    top: 40%;
    height: 15vh;
    left: 20.8%;
    width: 6vw;
  }
  #a7{
    position: absolute;
    top: 66%;
    height: 15vh;
    left: 11.8%;
    width: 7vw;
  }
  #a8{
    position: absolute;
    top: 66%;
      height: 15vh;
      left: 24.8%;
      width: 7vw;
  }
  #a9{
    position: absolute;
    top: 66%;
      height: 15vh;
      left: 37.8%;
      width: 7vw;
  }
  #a10{
    position: absolute;
    top: 66%;
      height: 15vh;
      left: 50.8%;
      width: 7vw;
  }
  .six{
    cursor: pointer;
    height: 10vh;
    outline: -webkit-focus-ring-color auto 0px !important;
    }
    #modal-video{
      border-radius:5px; 
      padding: 0 3px;   
      position: relative;
      top: 3px;
      #closePopup{
          position: absolute;
          top: -16px;
          right: -16px;
          line-height: 24px;
          font-size: 30px;
          background: #e40e38;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          text-align: center;
          color: white;
          font-weight: 500;
          z-index: 1000;
          cursor: pointer;
      }
    }