<div class="container-fluid" id="popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6>DHANI</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <div class="container-fluid" style="background: #c5c5c5;">
            <div class="row">
              <div class="col-md-12 col-xl-12 pl-0 pr-0 pb-0">
                <embed src="assets/reinvest/images/dhani.jpg" frameborder="0" width="100%">
                  <a href="https://www.dhani.com/" target="_blank"><div id="a6">
                    <div class="six" >
                    </div>
                </div></a>
                <div id="a7">
                    <div class="six" (click)="playVideo1()">
                    </div>
                </div>
                <div id="a8">
                    <div class="six" (click)="playVideo2()">
                    </div>
                </div>
                <div id="a9">
                    <div class="six" (click)="playVideo3()">
                    </div>
                </div>
                <div id="a10">
                    <div class="six" (click)="playVideo4()">
                    </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- modal video -->
  <div class="modal fade" data-backdrop="true" id="playVideoUrl" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 70%; margin: 5% 14%;">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div id="modal-videourl">
                    <div id="closePopup" (click)="closevideoPopup()">&times;</div>
                    <video id="video" src="{{player}}" width="100%" controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
