<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="bg"></div> -->
<section>
    <div id="content">
        <div id="exhibition_content">
            <div id="fullBg">
                <img src="../../../../assets/acma/images/exhibition_Hall_2.jpg" alt="">
                <!-- <form action="" style="position: absolute; top: 10px; right: 100px;">
                    <input type="text" placeholder="Search Exhibition" style="padding: 7px;
                    border-radius: 20px;">
                </form> -->
            </div>
            <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                  The session is currently live, please proceed towards the grand ballroom.
                </div>
              </div>
            <div>
                <!-- <div class="lifeboy" (click)="lifeboy('Narmada')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <div class="adapt" (click)="lifeboy('37');stepUpAnalytics('exhibition_37')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="bohra" (click)="lifeboy('34');stepUpAnalytics('exhibition_34')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="helvot" (click)="lifeboy('38');stepUpAnalytics('exhibition_38')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="indo_schotle" (click)="lifeboy('41');stepUpAnalytics('exhibition_41')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="investment" (click)="lifeboy('40');stepUpAnalytics('exhibition_40')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="prs" (click)="lifeboy('39');stepUpAnalytics('exhibition_39')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="sellowrap" (click)="lifeboy('36');stepUpAnalytics('exhibition_36')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="rse" (click)="lifeboy('35');stepUpAnalytics('exhibition_35')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="right_tight" (click)="lifeboy('42');stepUpAnalytics('exhibition_42')">
                    <div class="pulsating-circle"></div>
                </div>
              
            </div>
        </div>
    </div>
</section>