<section>
  <div id="content">
    <div id="content_wrap">
      <div id="bg" style="background-color: black;">
        <img src="assets/reinvest/images/agenda1.jpg" alt="">
      </div>
      <div id="a1">
        <div class="one" [routerLink]="['/agenda']">
        </div>
      </div>
      <div id="a2">
        <div class="two" [routerLink]="['/agenda-two']">
        </div>
      </div>
      <div id="a3">
        <div class="three" [routerLink]="['/agenda-three']">
        </div>
      </div>
      <div id="join">
        <div class="four" [routerLink]="['/auditorium/two']">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
<div class="container-fluid" style="background-image: aliceblue;">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="table-responsive mt-3">
          <h1 class="text-center">AGENDA</h1>
          <h5 class="text-center">PROGRAMME GRID - 3rd RE-INVEST 2020</h5>
          <table class="table table-bordered   table-striped">
            <thead class="table__head">
              <tr class="winner__table">
                <th class="text-white">INAUGURAL BY SHRI NARENDRA MODI<br><span style="font-size: smaller;">HON'BLE PRIME MINISTER OF INDIA</span></th>
              </tr>
            </thead>
          </table>
        <table class="table table-bordered table-striped">
          
          <thead class="table__head" style="background-color: #8dd7f7 !important;">
            <tr class="winner__table">
              <th>TIME</th>
              <th><i class="fa fa-user" aria-hidden="true"></i> EVENT</th>
              <th><i class="fa fa-map-marker" aria-hidden="true"></i> VENUE / DESCRIPTION</th>
              <th><i class="fa fa-calendar-o" aria-hidden="true"></i> </th>
             
            </tr>
          </thead>
          <tbody>
            <tr class="winner__table">
              <td>1100 hrs- 1200 hrs</td>
              <td>Inauguration of
                Virtual Exhibition</td>
              <td> CONFERENCE HALL– (Virtual)<br>
                • Welcome Remarks by Mr Vinnie Mehta, Director General<br>
                • Closing Remarks by Mr Saurabh Poddar, Co-Chairman</td>
              <td style="cursor: pointer;">JOIN</td>
             
            </tr>
            <tr class="winner__table">
              <td>1300 hrs- 1400 hrs</td>
              <td>Inauguration of
                Virtual Exhibition</td>
              <td> CONFERENCE HALL– (Virtual)<br>
                • Welcome Remarks by Mr Vinnie Mehta, Director General<br>
                • Closing Remarks by Mr Saurabh Poddar, Co-Chairman<br>
                • Closing Remarks by Mr Saurabh Poddar, Co-Chairman<br>
                • Welcome Remarks by Mr Vinnie Mehta, Director General<br>
                • Closing Remarks by Mr Saurabh Poddar, Co-Chairman</td>
              <td style="cursor: pointer;">JOIN</td>
             
            </tr>height: 10vh;
            height: 10vh;
            height: 10vh;
            height: 10vh;
            <tr class="winner__table">
              <td>1500 hrs- 1800 hrs</td>
              <td>Inauguration of
                Virtual Exhibition</td>
              <td> CONFERENCE HALL– (Virtual)<br>
                • Welcome Remarks by Mr Vinnie Mehta, Director General<br>
                • Closing Remarks by Mr Saurabh Poddar, Co-Chairman<br>
                • Welcome Remarks by Mr Vinnie Mehta, Director General<br>
                • Closing Remarks by Mr Saurabh Poddar, Co-Chairman</td>
                
              <td style="cursor: pointer;">JOIN</td>
             
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div> -->