<section class="sectionBgnew">
    <div class="content-wrap">
        <div class="content loby-content">

            <div [ngStyle]="{'display':showVideo ? 'none': 'block'}" class="img-fluid">
                <!-- <div class="bg"></div> -->
                <div class="loby-bg">
                    <img src="../../../assets/reinvest/images/lobby1.jpg" alt="audi">
                </div>
                <!-- <div id="player_sec">
                    <vg-player>
                        <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                            <vg-play-pause></vg-play-pause>
                            <vg-time-display></vg-time-display>
                            <vg-mute></vg-mute>
                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>
                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls>
                        <vg-buffering></vg-buffering>
                        <video #myMedia poster="assets/poster/poster.jpg" [vgMedia]="myMedia" preload="auto" [vgHls]="videoplayer" autoplay="true"
                            vg-responsive="true" type="video/mp4">

                        </video>
                    </vg-player>
                </div> -->
                <!-- <div class="reception" (click)="playReception()">
                    <div class="pulsating-circle" id="reception_pulse"></div>
                </div> -->
                <!-- <marquee class="mar" width="40%" direction="left" height="30%">
                    <h5>INAUGURAL BY SHRI NARENDRA MODI HON'BLE PRIME MINISTER OF INDIA</h5>
                </marquee> -->
                <!-- <div class="acma1" data-toggle="modal" data-target=".acma4Modal">
                    <div class="pulsating-circle" id="reception_pulse"></div>
                </div>
                <div class="acma2" data-toggle="modal" data-target=".acma3Modal">
                    <div class="pulsating-circle" id="reception_pulse"></div>
                </div> -->
                <!-- <div style="position:absolute;bottom:52px; right:78px; z-index: 1000;">
                    <a width="120px" height="100px" class="twitter-timeline" href="https://twitter.com/REInvestIndia?ref_src=twsrc%5Etfw">Tweets
                        by REInvestIndia</a>
                </div> -->
                <div style="position:absolute;bottom:54px; left:73px; z-index: 1000;">
                    <!-- <div class="fb-page" data-href="https://www.facebook.com/REInvestIndia/" data-width="200"data-height="200" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"></div> -->
                    <!-- <div _ngcontent-ipl-c31="" class="fb-page fb_iframe_widget fb_iframe_widget_fluid"
                        data-adapt-container-width="true" data-height="200" data-hide-cover="true" data-href="https://www.facebook.com/REInvestIndia/"
                        data-show-facepile="false" data-small-header="true" data-tabs="timeline" data-width="200"
                        fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=0&amp;height=200&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FREInvestIndia%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=200"><span
                            style="vertical-align: bottom; width: 200px; height: 200px;"><iframe name="f153100d22eb80c"
                                width="200px" height="200px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin"
                                frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                                src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2ddcb574622dac%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A4200%252Ffbe957dc799394%26relation%3Dparent.parent&amp;container_width=0&amp;height=200&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FREInvestIndia%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=200"
                                style="border: none; visibility: visible; width: 200px; height: 200px;" class=""></iframe></span></div> -->
                    <!-- <div id="fb-parent">
                        <div id="fb-page" class="fb-page" data-href="https://www.facebook.com/REInvestIndia/" data-tabs="timeline" data-width="500" data-height="250" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"></div>

                    </div> -->
                </div>

                <!-- <div class="vis_manual" data-toggle="modal" data-target=".visitor_manual"> -->
                <!-- <div class="pulsating-circle" id="reception_pulse"></div> -->
                <!-- </div> -->
                <!-- <div class="acma3" data-toggle="modal" data-target=".acma2Modal">
                    <div class="pulsating-circle" id="reception_pulse"></div>
                </div>
                <div class="acma4" data-toggle="modal" data-target=".acma1Modal">
                    <div class="pulsating-circle" id="reception_pulse"></div>
                </div> -->
                <!-- <div class="exhibitor_directory" data-toggle="modal" data-target=".exDirectory"> -->
                <!-- <div class="pulsating-circle" id="reception_pulse"></div> -->
                <!-- </div> -->
                <!-- <div class="front_audi" (click)="gotoAuditoriumFront()">
                    <div class="pulsating-circle" id="frontaudi_pulse"></div>
                </div> -->
                <div style="position: absolute;  top: 2%; left: 6%;" *ngIf="liveMsg">
                    <div class="alert alert-success " role="alert" style="cursor: pointer;" (click)="openChat()">
                        {{sendername}} has sent you a message.
                    </div>
                </div>
                <!-- <div class="playmodalvideo">
                    <div id="light">
                        <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
                        <video id="VisaChipCardVideo" src="../../../assets/video/brand.mp4" width="600" controls>
                            
                        </video>
                      </div>
                      <div id="fade" (click)="lightbox_close();"></div>
                      <div class="video" title="Play Video" (click)="lightbox_open();">
                      
                      </div>
                </div> -->
                <div class="auditorium-left" (click)="goQuadranglePoints();playNetworkingLounge();stepUpAnalytics('click_quadrangle')">
                    <div class="pulsating-circle" id="audLeft_pulse"></div>
                </div>
                <div class="auditorium-right" >
                    <div class="pulsating-circle" id="audRight_pulse" (click)="goPhotoPoints();playCapture(); stepUpAnalytics('click_Selfie_booth')"></div>
                </div>
                <div class="exhibition-hall-up">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="playReception();stepUpAnalytics('click_Stadium')"></div>
                </div>
                <div class="exhibition-hall2-up" >
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="playAuditoriumLeft();goGWPoints();stepUpAnalytics('click_Gratittude_wall')"></div>
                </div>
                <!-- <div class="exhibition-hall3-up">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('three');stepUpAnalytics('exhibition_hall-3')"></div>
                </div> -->
                <!-- <div class="exhibition_two">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('two');stepUpAnalytics('exhibition_hall-2')"></div>
                </div> -->
                <!-- <div class="exhibition_three">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('three');stepUpAnalytics('exhibition_hall-3')"></div>
                </div> -->
                <div class="exhibition-hall" (click)="playRegistrationDesk();stepUpAnalytics('click_funzone')">
                    <!-- <div class="exhibition-hall" data-toggle="modal" data-target=".disableModal" > -->
                    <div class="pulsating-circle" id="exhibition_pulse" ></div>
                </div>
                <div class="exhibition_two" (click)="gotoAuditoriumFront(); stepUpAnalytics('click_Library')">
                    <!-- <div class="exhibition_two" data-toggle="modal" data-target=".disableB2B" > -->
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="goLibraryPoints()"></div>
                </div>
                <div class="exhibition_three" (click)="playAuditoriumRight();goAudiPoints();stepUpAnalytics('click_auditorium')">
                    <div class="pulsating-circle" id="exhibition_pulse" ></div>
                </div>
                <div class="agenda" data-toggle="modal" (click)="stepUpAnalytics('click_Dhani')" data-target=".feebackModal">
                    <div class="pulsating-circle" id="agenda_pulse">

                    </div>
                </div>
                <!-- <div class="agenda2" data-toggle="modal" data-target=".feebackModal">
                    <div class="pulsating-circle" id="agenda_pulse">

                    </div>
                </div>
                <div class="agenda3" data-toggle="modal" data-target=".feebackModal">
                    <div class="pulsating-circle" id="agenda_pulse">

                    </div>
                </div> -->
                <!-- <div class="logo">
                    <img src="https://starmyanmar.multitvsolution.com/assets/iglobal/all-logo/partners.png" alt="">
                </div> -->
                <!-- <div class="slider">
                    <div class="slide-track">
                        <div class="slide" *ngFor="let slide of slideContent; let i=index;">
                            <img src="{{slide.img}}" [ngStyle]="{'width':slide.wd+'px'}"
                                alt="" />
                        </div> -->
                        <!-- <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/02.jpg" height="60" width="170"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/03.jpg" height="60" width="250"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/04.jpg" height="60" width="200"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/05.jpg" height="60" width="200"
                                alt="" />
                        </div>
                        
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/07.jpg" height="60" width="150"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/08.jpg" height="60" width="150"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/09.jpg" height="60" width="200"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/06.jpg" height="60" width="310"
                                alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/01.jpg" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/02.jpg" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/03.jpg" height="60" width="200" alt="" />
                        </div>
                        <div class="slide">
                            <img src="../../../assets/reinvest/all-logo/04.jpg" height="60" width="200" alt="" />
                        </div> -->
                        
                    <!-- </div>
                </div> -->
                <!-- <div class="registraion-desk" (click)="playRegistrationDesk()">
                        <div class="pulsating-circle" id="regDeskvideo" ></div>
                    </div> -->
                <!-- <div class="networking-lounge" (click)="playNetworkingLounge()">
                    <div class="pulsating-circle" id="networking_pulse"></div>
                </div> -->

                <!-- <div class="agenda" data-toggle="modal" data-target=".feebackModal">
                    <div class="pulsating-circle" id="agenda_pulse">

                    </div>
                </div>
                <div class="heighlights" data-toggle="modal" data-target=".agendaModal">
                    <div class="pulsating-circle" id="heighlight_pulse">

                    </div>
                </div> -->

                <!-- <div id="exhibtion_1">
                   
                    <div class="one" (click)="gotoExhibtion('25');stepUpAnalytics('exhibition_25')">
                        
                    </div>
                    <div class="two" (click)="gotoExhibtion('26');stepUpAnalytics('exhibition_26')">
                        
                    </div>
                    <div class="three" id="exhibition_ones" (click)="gotoExhibtion('27');stepUpAnalytics('exhibition_27')">
                        
                    </div>
                    <div class="four" (click)="gotoExhibtion('28');stepUpAnalytics('exhibition_28')">
                        
                    </div>
                    <div class="five" (click)="gotoExhibtion('33');stepUpAnalytics('exhibition_33')">
                        
                    </div>
                    <div class="six" (click)="gotoExhibtion('30');stepUpAnalytics('exhibition_30')">
                        
                    </div>
                    <div class="seven" (click)="gotoExhibtion('31');stepUpAnalytics('exhibition_31')">
                        
                    </div>
                    <div class="eight" (click)="gotoExhibtion('32');stepUpAnalytics('exhibition_32')">
                        
                    </div>
                    <div class="nine" (click)="gotoExhibtion('29');stepUpAnalytics('exhibition_29')">
                        
                    </div>
                </div> -->
                <!-- <div id="exhibtion_2">
                    <div class="one" (click)="gotoExhibtion('34');stepUpAnalytics('exhibition_34')">
                        
                    </div>
                    <div class="two" (click)="gotoExhibtion('37');stepUpAnalytics('exhibition_37')">
                        
                    </div>
                    <div class="three" (click)="gotoExhibtion('38');stepUpAnalytics('exhibition_38')">
                        
                    </div>
                    <div class="four" (click)="gotoExhibtion('39');stepUpAnalytics('exhibition_39')">
                        
                    </div>
                    <div class="five" (click)="gotoExhibtion('40');stepUpAnalytics('exhibition_40')">
                        
                    </div>
                    <div class="six" (click)="gotoExhibtion('41');stepUpAnalytics('exhibition_41')">
                        
                    </div>
                    <div class="seven" (click)="gotoExhibtion('42');stepUpAnalytics('exhibition_42')">
                        
                    </div>
                    <div class="eight" (click)="gotoExhibtion('36');stepUpAnalytics('exhibition_36')">
                        
                    </div>
                    <div class="nine" (click)="gotoExhibtion('35');stepUpAnalytics('exhibition_35')">
                        
                    </div>
                </div> -->
                <!-- <div id="exhibtion_3">
                    <div class="one" (click)="gotoExhibtion('43');stepUpAnalytics('exhibition_43')">
                        
                    </div>
                    <div class="two" (click)="gotoExhibtion('44');stepUpAnalytics('exhibition_44')">
                        
                    </div>
                    <div class="three" (click)="gotoExhibtion('45');stepUpAnalytics('exhibition_45')">
                        
                    </div>
                    <div class="four" (click)="gotoExhibtion('46');stepUpAnalytics('exhibition_46')">
                        
                    </div>
                    <div class="five" (click)="gotoExhibtion('47');stepUpAnalytics('exhibition_47')">
                        
                    </div>
                </div> -->
                <!-- <div id="players">
                    <div class="one">
                        <i class="fa fa-play-circle" (click)="playShowVideo('../../../assets/acma/video/ACMA_lobby_video1.mp4')"></i>
                    </div>
                </div> -->
                <div id="players2">
                    <!-- <div class="two">
                        <i class="fa fa-play-circle" (click)="playShowVideo('../../../assets/acma/video/ACMA_lobby_video1.mp4')"></i>
                    </div> -->
                    <!-- <div class="three">
                        <i class="fa fa-play-circle" (click)="playShowVideo('../../../assets/acma/video/ACMA_lobby_2.mp4')"></i>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<div [ngStyle]="{'display':receptionEnd ? 'block': 'none'}" class="videoContainer">
    <video id="recepVideo" class="videoBg" (ended)="receptionEndVideo()">
        <source src="../../../assets/video/stadium.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumLeft ? 'block': 'none'}" class="videoContainer">
    <video id="audLeftvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumLeftOnVideoEnd()">
        <source src="../../../assets/video/gratitude.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumRight ? 'block': 'none'}" class="videoContainer">
    <video id="audRightvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumRightOnVideoEnd()">
        <source src="../../../assets/video/auditorium.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':exhibitionHall ? 'block': 'none'}" class="videoContainer">
    <video id="exhibitvideo" preload="auto" class="videoBg" (ended)="gotoExhibitionHallOnVideoEnd()">
        <source src="../../../assets/video/funzone.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':registrationDesk ? 'block': 'none'}" class="videoContainer">
    <video id="regDeskvideo" preload="auto" class="videoBg" (ended)="playAudiThreeFourEndVideo()">
        <source src="../../../assets/video/library.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':networkingLounge ? 'block': 'none'}" class="videoContainer">
    <video id="netLoungevideo" preload="auto" class="videoBg" (ended)="gotoNetworkingLoungeOnVideoEnd()">
        <source src="../../../assets/video/quadrangle.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':capturePhoto ? 'block': 'none'}" class="videoContainer">
    <video id="booth" preload="auto" class="videoBg" (ended)="gotoCaptureVideoOnVideoEnd()">
        <source src="../../../assets/video/booth.mp4" type="video/mp4">
    </video>
</div>

<!-- <div id="light">
    <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
    <video id="VisaChipCardVideo"[src]="videoUrl" autoplay width="600" controls>
       
      </video>
  </div>
  <div id="fade" (click)="lightbox_close();"></div> -->

<div class="modal fade yvideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closePopup" (click)="closeModalVideo()">&times;</div>
                    <video id="video" preload="auto" src="{{videoSOurce}}" width="100%" controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bottomBar">
    <ul>
        <ng-container *ngFor="let data of click">
        <li *ngIf="data.house == 'Surya'" id="surya">
            <span>{{data.house | uppercase }}<span id="click3">{{data.points}}</span></span>
        </li>
        <li *ngIf="data.house == 'Indra'" id="indra">
            <span>{{data.house | uppercase }}<span id="click4">{{data.points}}</span></span>
        </li>
        <li *ngIf="data.house == 'Varuna'" id="varuna">
            <span>{{data.house | uppercase }}<span id="click1">{{data.points}}</span></span>
        </li>
        <li *ngIf="data.house == 'Soma'" id="soma">
            <span>{{data.house | uppercase }}<span id="click2">{{data.points}}</span></span>
        </li>
        </ng-container>
    </ul>
</div>
<!-- <div class="bottom-bar"
    style="position: fixed; bottom: 10px;  background-color: transparent; color: white; font-weight: 700; z-index: 9; text-align: center;" >
    <div class="row" >
        <ng-container *ngFor="let data of click">
            <div class="col-3 surya" *ngIf="data.house == 'Surya'">
                <h5 style="margin: 8px;
        line-height: 24px;"><span class="p-2">{{data.house}}</span> <span style="background-color: white; color: #ec4c4b; padding-left: 10px; border-radius: 15px;
                padding-right: 15px; padding-top: 5px; padding-bottom: 5px;">{{data.points}}</span></h5>
            </div>
            <div class="col-3 indra" *ngIf="data.house == 'Indra'">
                <h5 style="margin: 8px;
        line-height: 24px;"><span class="p-2">{{data.house}}</span> <span style="background-color: white; color: #51b237; padding-left: 10px; border-radius: 15px;
                padding-right: 15px; padding-top: 5px; padding-bottom: 5px;">{{data.points}}</span></h5>
            </div>
            <div class="col-3 varuna" *ngIf="data.house == 'Varuna'">
                <h5 style="margin: 8px;
        line-height: 24px;"><span class="p-2">{{data.house}}</span> <span style="background-color: white; color: #20487c; padding-left: 10px; border-radius: 15px;
                padding-right: 15px; padding-top: 5px; padding-bottom: 5px;">{{data.points}}</span></h5>
            </div>
            <div class="col-3 soma" *ngIf="data.house == 'Soma'">
                <h5 style="margin: 8px;
        line-height: 24px;"><span class="p-2">{{data.house}} </span><span style="background-color: white; color: #fed23d; padding-left: 10px; border-radius: 15px;
                padding-right: 15px; padding-top: 5px; padding-bottom: 5px;">{{data.points}}</span></h5>
            </div>
        </ng-container>
    </div>
</div> -->
<!-- <div class="bottom-bar"
    style="position: fixed; bottom: 10px;  background-color: transparent; color: white; font-weight: 700; z-index: 9; text-align: center;">
    <div class="row">
        <div class="col-3" style="background-color:#ec4c4b;border-radius:30px;height: 40px;">
            <h5 style="margin: 8px;
    line-height: 24px;"><span class="p-2">SURYA</span> <span style="background-color: white; color: #ec4c4b; padding-left: 10px; border-radius: 15px;
            padding-right: 15px; padding-top: 5px; padding-bottom: 5px;">{{this.click3}}</span></h5>
        </div>
        <div class="col-3" style="background-color:#51b237;border-radius:30px;height: 40px;">
            <h5 style="margin: 8px;
    line-height: 24px;"><span class="p-2">INDRA</span> <span style="background-color: white; color: #51b237; padding-left: 10px; border-radius: 15px;
            padding-right: 15px; padding-top: 5px; padding-bottom: 5px;">{{this.click4}}</span></h5>
        </div>
        <div class="col-3" style="background-color:#20487c;border-radius:30px;height: 40px;">
            <h5 style="margin: 8px;
    line-height: 24px;"><span class="p-2">VARUNA</span> <span style="background-color: white; color: #20487c; padding-left: 10px; border-radius: 15px;
            padding-right: 15px; padding-top: 5px; padding-bottom: 5px;">{{this.click1}}</span></h5>
        </div>
        <div class="col-3" style="background-color:#fed23d;border-radius:30px;height: 40px;">
            <h5 style="margin: 8px;
    line-height: 24px;"><span class="p-2">SOMA </span><span style="background-color: white; color: #fed23d; padding-left: 10px; border-radius: 15px;
            padding-right: 15px; padding-top: 5px; padding-bottom: 5px;">{{this.click2}}</span></h5>
        </div>
    </div>
</div> -->
<audio id="myAudio">
    <!-- <source src="../../../../../assets/img/applause.wav" type="audio/wav"> -->
    <source src="../../../assets/video/welcome.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>