.bg {
    background-image: url(../../../assets/img/Lobby/lobby.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-color: #464646;

    width: 100%;
    height: 100vh;
    // position: relative;
}
// .fb-page, .fb-page span, .fb-page span iframe[style] { 
//     width: 50% !important; 
// }
#bottomBar{
    position: absolute;
    bottom: -5px;
    left: 70px;
    width: calc((100% - 140px));
    text-align: center;
    transform: translate(10%, 10%);
        ul{
        user-select: none;
        list-style-type: none;
        padding: 2px;
        display: inline-flex;
        width: 100%;
        li{
            width: calc(20% - 10px);
            color: white;
            padding: 10px;
            margin: 5px;
            border-radius: 55px;
            font-size: 12px;
        }
        #surya{
            background: #ec4c4b;
            #click3{
                color: #ec4c4b;
                background: white;
                border-radius: 15px;
                font-size: 10px;
                margin: 3px;
                padding: 3px 6px;
            }
        }
        #indra{
            background: #51b237;
            #click4{
                color: #51b237;
                background: white;
                border-radius: 15px;
                font-size: 10px;
                margin: 3px;
                padding: 3px 6px;
            }
        }
        #varuna{
            background: #20487c;
            #click1{
                color: #20487c;
                background: white;
                border-radius: 15px;
                font-size: 10px;
                margin: 3px;
                padding: 3px 6px;
            }
        }
        #soma{
            background: #fed23d;
            #click2{
                color: #fed23d;
                background: white;
                border-radius: 15px;
                font-size: 10px;
                margin: 3px;
                padding: 3px 6px;
            }
        }
    }
}
#player_sec{
    position: absolute;  
    top: 33%;
    left: 43.5%; 
    vg-player{
        width: 13vw;
        height: 13vh;
    }
  }
.loby-bg {
    img{        
    // width: 100vw;
    // height: 100vh;
    width: calc(100% - 140px);
    height: 100vh;
    margin-left: 70px;
    }
}
#modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
  }
section{
    position: relative;
    .content-wrap {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: auto;
      position: relative;
      .lobby-bg{
        position: relative;
          width: 100%;
          height: 100%;
          display: block;
      }
    } 
  }
  .mar{
    position: absolute;
    top: 20%;
    left: 39%;
    cursor: pointer;
    height: 2vw;
    width: 21vw;
    background-color: white;
  }
.reception {
        position: absolute;
        bottom: 6%;
        left: 44%;
        cursor: pointer;
        // background: black;
        
    height: 4vw;
    width: 15vw;
     
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }
}
.front_audi {
        position: absolute;
        top: 48%;
        left: 43.5%;
        cursor: pointer;
        // background: black;
        height: 6vh;
        width: 11vw;          
    .pulsating-circle{
        position: absolute;
        top: 55%;
        left: 50%;
    }
}
.auditorium-left {
    position: absolute;
    top: 25.5%;
    left: 6%;
    height: 10.2vh;
    width: 9.2vw;
    cursor: pointer;
    // background: black;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 36%;
    }
}
.auditorium-right {    
        position: absolute;
        top: 65%;
    right: 42%;
        height: 7vh;
        width: 16vw;
        cursor: pointer;
outline: -webkit-focus-ring-color auto 0px !important;

        // background: black;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
.exhibition-hall {
    height: 12vh;
    width: 12vw;
    position: absolute;
    top: 44%;
    left: 25%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 25%;
      }
  
  }
  .exhibition-hall-up {
    height: 6vh;
    width: 7vw;
    position: absolute;
    top: 48%;
    left: 46%;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 72%;
          left: 50%;
      }
  
  }
  .exhibition-hall2-up {
    height: 12vh;
    width: 12vw;
    position: absolute;
    bottom: 35%;
    left: 8%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 25%;
      }
  
  }
  .exhibition-hall3-up {
    height: 12vh;
    width: 12vw;
    position: absolute;
    top: 0%;
    left: 68%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 25%;
      }
  
  }
.exhibition_two {
    height: 10vh;
    width: 10vw;
    position: absolute;
    top: 48%;
    right: 29%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 50%;
          left: 50%;
      }
  
  }
  .exhibition_three {
    height: 10vh;
    width: 10vw;
    position: absolute;
    top: 26.2%;
    right: 6%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 50%;
          left: 50%;
      }
  
  }
.registraion-desk {
    .pulsating-circle{
        position: absolute;
        top: 55%;
        left: 55%;
        cursor: pointer;
    }
}
.networking-lounge {
    height: 7vh;
    width: 14vw;
    position: absolute;
    top: 47%;
    right: 25%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 5%;
      }
  
  }
.agenda {
    position: absolute;
    bottom: 10%;
    right: 25%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
#player_sec{
    position: absolute;
    top: 29.3%;
    left: 43%;

    vg-player{
        width: 14vw;
        height: 16.7vh;
        //height: 14vh;
    }
  }
.acma1 {
    position: absolute;
    bottom: 40%;
    left: 12%;
    cursor: pointer;
    // background: black;
    height: 7vw;
    width: 5vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.acma2 {
    position: absolute;
    bottom: 40%;
    left: 19%;
    cursor: pointer;
    height: 7vw;
    width: 5vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.acma3 {
    position: absolute;
    bottom: 40%;
    right: 18%;
    cursor: pointer;
    height: 7vw;
    width: 5vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.vis_manual {
    position: absolute;
    bottom: 21%;
    left: 28%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.acma4 {
    position: absolute;
    bottom: 40%;
    right: 11%;
    cursor: pointer;
    height: 7vw;
    width: 5vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.exhibitor_directory {
    position: absolute;
    bottom: 20%;
    right: 30%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}




.tech-slideshow {
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.logo{
    // width: 15%;
    position: absolute;
    bottom: 0%;
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 60px;
    margin: auto;
    z-index: 99999;
    overflow:hidden;
    img{
        z-index: 9999999;
    height: 60px;
    padding: 0 10px 0 10px;
    margin-left: 70px;
    // padding-bottom: 30px;
    }
}
.slider {
    // height: 8vh;
    width: 100%;
    position: absolute;
    bottom: 0%;
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 60px;
	margin: auto;
    overflow:hidden;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	// position: relative;
	// width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
        width: calc(250px * 1);
        text-align: center;
	}
	
	.slide {
		height: 100px;
        width: 280px;
        img{
            height: 60px;
            // width: 200px;
        }
	}
}

@media only screen and (max-width: 800px) {
    #bottomBar{
        transform: translate(2%, 10%);
            ul{
            li{
                width: calc(24% - 10px);
                font-size: 9px;
                padding: 7px;
                #click1, #click2, #click3, #click4{
                    font-size: 9px;
                }
            }
        }
    }
    .logo{
        // width: 25% !important;
        height: 45px;
        img{
            margin-left: 55px;
            height: 45px;
        }
    }
    .slider {
        height: 45px !important;
        .slide{
            img{
                height: 45px;
            }
        }
    }
    .loby-bg{
        img{
            width: calc(100% - 100px);
            margin-left: 50px;
        }
    }
  }
.exhibition-hall{
    outline: -webkit-focus-ring-color auto 0px !important;
}
.exhibition_two{
    outline: -webkit-focus-ring-color auto 0px !important;
}
.exhibition_three{
    outline: -webkit-focus-ring-color auto 0px !important;
}
@media only screen and (max-width: 800px) {
    h5 {
      // background-color: lightblue;
      font-size: 10px
    }
    .bottom-bar{
      left: 70px !important;
      width: 70%;
    }
  }
  .bottom-bar{
    left: 130px;
    width: 80%;
  }
.surya{
    background-color:#ec4c4b !important;border-radius:30px !important;height: 40px !important;
}
.indra{
    background-color:#51b237 !important;border-radius:30px !important;height: 40px !important;
}
.varuna{
    background-color:#20487c !important;border-radius:30px !important;height: 40px !important;
}
.soma{
    background-color:#fed23d !important;border-radius:30px !important;height: 40px !important;

}