<span id="back">
  <a class="nav-link sign" routerLink="/library" title="Logout" role="button">
      BACK</a>
</span>
<section>
  <div id="content">
    <div id="content_wrap">
      <div id="bg" style="background-color: white;" >
        <!-- <div>
          <img src="https://re-invest.in/wp-content/uploads/2018/02/inside-strip-1-1.png" alt="">
          <div id="heading">
            Speakers
          </div>
        </div> -->
        <div class="container">

          <!-- <div class="row heading">
            <div class="col-md-12 mt-3">
              <h1 class="text-center bottom-line">SPEAKERS</h1>
            </div>
          </div> -->
          <!-- <div id="heading">
            <div>
              SPEAKERS
            </div>
          </div> -->

          <div class="row team-row" style="overflow-y: scroll; position: relative; height:600px;">

            <!-- end team member -->

            <div class="col-md-3 col-sm-12 team-wrap mt-3" *ngFor="let profile of profiles">
              <!-- *ngFor="let profile of profiles" -->
              <div class="team-member text-center">
                <div class="team-img">
                  <img src="{{profile.url}}" alt="" width="250" height="240">
                  <div class="overlay" (click)="getDetails(profile.url)">
                    <div class="team-details text-center">
                      <!-- <img src="{{profileObj}}" alt=""> -->
                    </div>
                  </div>
                </div>
                <!-- <h6 class="team-title"><span>{{profile.name}}</span></h6> -->
              </div>
            </div>
            <!-- end team member -->

            <!-- end team member -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- modal -->

<div class="modal fade speakersDocument" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="profile_section">
              <div class="chat_section">
                <div class="popup_header">
                  <h4>GALLERY</h4>
                  <a class="close" (click)="closedocumentPopup()"></a>
                </div>
                <div class="row mt-4 ml-2 mr-2 mb-2" id="setPopup">
                  <div class="col-12">
                    <img width="100%;" src="{{profileObj}}" alt="">
                  </div>
                  <!-- <div class="col-8" style="color:#153741">
                    <h2 id="pfname"><span>{{profileObj.name}}</span></h2>
                    <h5 id="pfp"><span>{{profileObj.position}}</span></h5>
                    <p>{{profileObj.content}}</p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>