#skip{
  position: absolute;
  top: 10px;
  left: 75px;
  background: #141433;
  color: white;
  z-index: 100;
  font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  border: 1px solid #060a39;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 0px;
  a{
      text-transform: capitalize;
      color: white;
  }
}
section{
    position: relative;
    .content-wrap {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: auto;
      position: relative;
      .login-bg{
        position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
              width: 100vw;
              height: 105vh;
          }
      }
    } 
  }

  #loginSection{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    .row{
        #brand{
            margin-top: 50px;
        }
        #icons_social{
            float: right;
            a{
                img{
                    padding: 5px;
                }
            }
        }
    }
    
}
.login-wrapper{
    position: absolute;
    top: 24%;
    width: 30%;
    padding: 15px;
}
@media only screen and(max-width: 900px){
    .login-wrapper{
        top: 21%;
    }
    .login-wrapper .form-control{
        padding: 5px !important;
        min-height: 25px !important;
        font-size: 9px !important;
    }
    .login-wrapper .login-btn {
        font-size: 9px !important;
        margin-top: -25px;
    }
}
h6{
  text-align: center;
    color: red;
}
.login-wrapper .form-control {
    outline: none;
    box-shadow:none !important;
    border:1px solid #0808080d !important;

    background: #0808080d;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 9px 5px;
    min-height: 45px;
    font-size: 15px;
    font-weight: normal;
  }
    .login-wrapper .form-control::-webkit-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::-moz-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control:-ms-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::-ms-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::placeholder {
      color: #495057;
      font-weight: 500;
    }
  .login-wrapper .login-btn {
    padding: 5px 5px;
  background-color: #d63738;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  }
  .login-wrapper a.forgot-password-link {
    // color: #080808;
    color: black;
    font-weight: 500;
    font-size: 15px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 50px;
  }