<span id="skip" *ngIf="videoPlay">
    <a class="nav-link sign" (click)="skipButton()" title="SKIP" role="button">
        SKIP</a>
  </span>
<section class="sectionBgnew">
    <div class="content-wrap">
        <div class="content login-content">
            <div [ngStyle]="{'display':videoPlay? 'none': 'block'}">
                <div class="login-bg">
                    <img src="assets/reinvest/images/login.jpg" alt="audi">
                    <div id="loginSection">
                        <div>
                            <div>
                                <div class="login-wrapper">
                                    <h6 class="login-title" *ngIf="msg">{{this.msg}}</h6>

                                    <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn()"
                                        style="position: relative;">

                                        <div class="form-group">

                                            <label for="email" style="color: black;">Sign In</label>

                                            <input type="email" style="background-color: #dad5d5;" class="form-control"
                                                required autocomplete="off" formControlName="email"
                                                placeholder="Email Id">
                                        </div>

                                        <div class="col-6" style="display: inline;">
                                            <input style="width: 100%;" name="login" id="login"
                                                class="btn btn-block login-btn" type="submit" value="Login">

                                            <h6 [routerLink]="['/signup']" class="text-right"
                                                style="cursor:pointer;font-size: x-small; color: black;font-weight: 800;">
                                                NOT REGISTERED? REGISTER <span style="color: blue;">HERE</span></h6>

                                        </div>


                                    </form>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div [ngStyle]="{'display':videoPlay? 'block': 'none'}" class="videoContainer">
                <video id="myVideo" preload="auto" class="videoBg" (ended)="endVideo()">
                    <source src="../../assets/reinvest/video/outer.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</section>
<!-- <section class="sectionBgnew">
    <div class="content-wrap">
        <div class="content login-content">
            
                <div class="login-bg">
                    <img src="assets/reinvest/images/holding.jpg" alt="audi">
                </div>
        </div>
    </div>
</section> -->