<section>
  <div id="content">
    <div id="content_wrap">
      <div id="bg" style="background-color: black;">
        <img src="assets/reinvest/images/funzone.jpg" alt="">
        <span id="back">
          <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
              BACK</a>
        </span>
      </div>
      <div id="a1">
      <a href="https://engagements.skunkworksxp.in/BATTER/?userID={{yup}}" target="_blank"><img style="border-radius: 5px;" src="assets/reinvest/images/cricket.png" width="100%" alt=""></a>
      </div>
      <div id="a2">
        <a href="https://engagements.skunkworksxp.in/DARTGAME/?userID={{yup}}" target="_blank"><img style="border-radius: 5px;" src="assets/reinvest/images/dart.jpeg" width="100%" alt=""></a>
      </div>

      <div id="a3">
        <a href="https://engagements.skunkworksxp.in/Soccer/?userID={{yup}}" target="_blank"><img style="border-radius: 5px;" src="assets/reinvest/images/kick.png" width="100%" alt=""></a>
      </div>

      <!-- <div id="join">
        <img style="border-radius: 5px;" data-toggle="modal" data-target=".gameModal4" src="assets/reinvest/images/cricket.png" width="100%" alt="">
      </div> -->
    </div>
  </div>
</section>
<div class="modal fade gameModal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>BASKET FALL 2</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <!-- <iframe style="width:100%" src="../../../assets/reinvest/images/water.jpg" frameborder='0' width="780" height="543"></iframe> -->
              <iframe src="https://wanted5games.com/games/html5/basket-fall2-new-en-s-iga-cloud/index.html?pub=10"
                name="cloudgames-com" width="100%" height="543" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade gameModal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>PENALTY KICKS</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <!-- <iframe style="width:100%" src="../../../assets/reinvest/images/water.jpg" frameborder='0' width="780" height="543"></iframe> -->
              <iframe src="https://wanted5games.com/games/html5/penalty-kick-new-en-s-iga-cloud/index.html?pub=10"
                name="cloudgames-com" width="100%" height="543" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade gameModal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>GOLF PARK</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <!-- <iframe style="width:100%" src="../../../assets/reinvest/images/water.jpg" frameborder='0' width="780" height="543"></iframe> -->
              <iframe src="https://wanted5games.com/games/html5/golf-park-new-en-s-iga-cloud/index.html?pub=10"
                name="cloudgames-com" width="100%" height="543" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade gameModal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>CRICKET 2020</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <!-- <iframe style="width:100%" src="../../../assets/reinvest/images/water.jpg" frameborder='0' width="780" height="543"></iframe> -->
              <iframe src="https://wanted5games.com/games/html5/cricket-2020-new-en-s-iga-cloud/index.html?pub=10"
                name="cloudgames-com" width="100%" height="543" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="../../../assets/reinvest/images/ticker.jpg" alt="" style="width: 1300px;" />
    </div>
    <div class="slide">
      <img src="../../../assets/reinvest/images/ticker.jpg" alt="" style="width: 1300px;" />
    </div>
  </div>
</div>