<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<div class="logo">
    <img src="https://starmyanmar.multitvsolution.com/assets/iglobal/all-logo/partners.png" alt="">
</div>
<div class="slider">
    
    <div class="slide-track">
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/12.jpg" alt="" style="width: 2600px;"/>
        </div>
        
    </div>
</div>
<div id="a1">
    <a href="assets/reinvest/images/catalogue.pdf" download>
    <div class="one">
    </div>
    </a>
  </div>
<!-- <div class="bg"></div> -->
<section>
    <div id="content">
        <div id="exhibition_content">
            <div id="fullBg">
                <img src="assets/reinvest/images/mainSTALL.jpg" alt="">
                <!-- <form action="" style="position: absolute; top: 10px; right: 100px;">
                    <input type="text" placeholder="Search Exhibition" style="padding: 7px;
                    border-radius: 20px;">
                </form> -->
            </div>
            <div id="setmulti" style="position: absolute;  top: 5%; left: 20%;z-index: 9999;">
                <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" 
    [settings]="dropdownSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                </div>

            
            <div id="setSelect" style="position: absolute;  top: 5%; right: 20%;z-index: 9999;">
                <ng-select2 [placeholder]="Exhibitor" class="input-sm" [data]="exampleData" [(ngModel)]="red" (ngModelChange)="search()"></ng-select2>
                <!-- <select name="red" (change)="changeRoute()" id="position" style="width: 100%" class="form-control">
                    <option class="list" *ngFor="let cc of premiumList" value="{{cc.category}}_{{cc.id}}"  >{{cc.title}}</option>
                </select> -->

            </div>
            <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                    The session is currently live, please proceed towards the grand ballroom.
                </div>
            </div>
            <div>
                <!-- <div class="lifeboy" (click)="lifeboy('Narmada')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <div class="adapt" title="Exhibitors" data-target=".exDirectory" data-toggle="modal">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="last" title="State Booths" data-target=".stateDirectory" data-toggle="modal">
                    <div class="pulsating-circle"></div>
                </div>
                <!-- <div class="bohra">
                    <div class="pulsating-circle"></div>
                </div> -->
                <div class="helvot" [routerLink]="['/pavillion']">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="indo_schotle" title="Country Stalls" data-target=".premDirectory" data-toggle="modal">
                    <div class="pulsating-circle"></div>
                </div>
                <!--<div class="investment" (click)="lifeboy('29');stepUpAnalytics('exhibition_29')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="prs" (click)="lifeboy('30');stepUpAnalytics('exhibition_30')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="sellowrap" (click)="lifeboy('32');stepUpAnalytics('exhibition_32')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="rse" (click)="lifeboy('33');stepUpAnalytics('exhibition_33')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="right_tight" (click)="lifeboy('31');stepUpAnalytics('exhibition_31')">
                    <div class="pulsating-circle"></div>
                </div> -->

            </div>
        </div>
    </div>
</section>

<!-- standard pop up modal -->
<div class="modal fade exDirectory" style="z-index: 999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closeStandard()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table>
                                <tr>
                                    <th style="text-align: center; font-size: 23 !important;"> Exhibitors</th>
                                    <!-- <th>Stalls</th> -->
                                </tr>
                                <div style="overflow-y: scroll; height: 550px;">
                                    <tr *ngFor="let stands of standardList">
                                        <td (click)="lifeboy(stands.id)">{{stands.title}}</td>
                                    </tr>
                                    <td></td>
                                    <tr *ngFor="let prems of premiumList">
                                        <td (click)="premium(prems.id)">{{prems.title}}</td>
                                    </tr>
                                </div>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Premium pop up modal -->
<div class="modal fade premDirectory" style="z-index: 999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closePremium()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table>
                                <tr>
                                    <th style="text-align: center; font-size: 23 !important;">Country Stalls</th>
                                    <!-- <th>Stalls</th> -->
                                </tr>
                                <tr *ngFor="let prems of countryList">
                                    <td routerLink="{{prems.routes}}" (click)="stepUpAnalytics(prems.title)">{{prems.title}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- State pop  up modal -->
<div class="modal fade stateDirectory" style="z-index: 999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closeStates()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table>
                                <tr>
                                    <th style="text-align: center; font-size: 23 !important;">State Stalls</th>
                                    <!-- <th>Stalls</th> -->
                                </tr>
                                <tr *ngFor="let prems of stateList">
                                    <td routerLink="{{prems.routes}}">{{prems.title}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div style="position: absolute;  top: 5%; right: 15%;z-index: 9999;">
   
    <h2>Dropdown with search box</h2>
    <select>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
  </select>
  
</div> -->