.bg {
    background-image: url(../../../../assets/reinvest/images/mainSTALL.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;
  
    // position: relative;
  }
  section{
    position: relative;
    width: 100%;
    height: 100%;
    #content{
      position: relative;
      #exhibition_content{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin: auto;
        #fullBg{
          position: relative;
          height: 100%;
          width: 100%;
          display: block;
          img{
            width: 96vw;
            height: 100vh;
          }
        }
      }
    }
  }
  @keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
  }
  #a1{
    position: absolute;
    top: 8.6%;
    height: 15vh;
    left: 9%;
    width: 7vw;
    z-index: 9999;
}
.one{
  cursor: pointer;
  height: 10vh;
  outline: -webkit-focus-ring-color auto 0px !important;
  z-index: 99999;
}
  .adapt{
    position: absolute;
    top: 54%;
    left: 74%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .last{
    position: absolute;
    top: 29%;
    left: 78%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .bohra{
    position: absolute;
    top: 33%;
    left: 4%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .helvot{
    position: absolute;
    top: 34%;
    left: 45%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .indo_schotle{
    position: absolute;
    top: 42%;
    left: 15%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .investment{
    position: absolute;
    top: 35%;
    left: 39.5%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .prs{
    position: absolute;
    top: 34%;
    right: 17%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .rse{
    position: absolute;
    top: 26%;
    right: 27%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .sellowrap{
    position: absolute;
    top: 26%;
    left: 41.3%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .right_tight{
    position: absolute;
    top: 26%;
    left: 26%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .lifeboy{
    position: absolute;
    top: 57%;
    left: 25%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 90%;
        left: 20%;
    }
  }
  .arise{
    position: absolute;
    top: 49%;
    left: 47%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .achive{
    position: absolute;
    top: 49%;
    right: 25.5%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }

#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  .message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 102px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 14px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      background: #292f35;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }
  
  .online_chat{
    min-height: 400px;
    overflow: auto;
  
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    cursor: pointer;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
    //font-size: small;
    background-color: white;
  }
  td {
    font-size: small;  
  }
  th {
    font-size: 23px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  td{
    color: blue;
  }

  // search


  .select,.select2{
    width: 100%;
  }

  @mixin white-gradient {
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
  
  $animationSpeed: 40s;
  
  // Animation
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
  }
  
  
  // Styling
  .logo{
      width: 15%;
      position: absolute;
      bottom: 0%;
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 70px;
      margin: auto;
      z-index: 99999;
      overflow:hidden;
      img{
          z-index: 9999999;
      height: 92px;
      margin-left: 70px;
      padding-bottom: 30px;
      }
  }
  @media only screen and (max-width: 800px) {
      .logo{
          width: 25% !important;
      }
    }
  .slider {
      // height: 8vh;
      width: 100%;
      position: absolute;
      bottom: 0%;
      z-index: 9;
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 70px;
    margin: auto;
    overflow:hidden;
    // position: relative;
    // width: 960px;
    
    &::before,
    &::after {
      @include white-gradient;
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
    }
    
    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
  
    &::before {
      left: 0;
      top: 0;
    }
    
    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(250px * 1);
    }
    
    .slide {
      height: 100px;
      width: 280px;
    }
  }
  

.input-sm {
  height: 30px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.5;

}