<span id="back">
  <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
      BACK</a>
</span>
<section>
    <div id="content">
      <div id="content_wrap">
        <div id="bg" style="background-color: black;">
          <img src="assets/reinvest/images/booth.jpg" alt="">
        </div>
        <div class="pulsating-circle" [routerLink]="['/capturePhoto']">
          
        </div>
      </div>
    </div>
  </section>