<section>
    <div id="content">
        <div id="content_wrap">
            <div id="bg" style="background-color: black;">
                <img src="assets/reinvest/images/gallery.jpg" alt="">
            </div>
            <div id="a1">
                <div class="one" [routerLink]="['/agenda']">
                </div>
            </div>
            <div id="a2">
                <div class="two" [routerLink]="['/agenda-two']">
                </div>
            </div>
            <div id="a3">
                <div class="three" [routerLink]="['/agenda-three']">
                </div>
            </div>
            <div id="join">
                <div class="four" [routerLink]="['/auditorium/two']">
                </div>
            </div>
            <div id="join2">
                <div class="four" [routerLink]="['/auditorium/two']">
                </div>
              </div>
              <div id="join3">
                <div class="four" [routerLink]="['/auditorium/two']">
                </div>
              </div>
              <div id="join4">
                <div class="four" [routerLink]="['/auditorium/two']">
                </div>
              </div>
              <div id="join5">
                <div class="four" [routerLink]="['/auditorium/two']">
                </div>
              </div>
        </div>
    </div>
</section>