<section>
    <div id="content">
      <div id="content_wrap">
        <div id="bg" style="background-color: black;">
          <img src="assets/reinvest/images/contribute.jpg" alt="">
        </div>
        <div id="join">
          <a href="https://exraists.com/donation/194" target="_blank"><div class="four">
          </div></a>
        </div>
      </div>
    </div>
  </section>