<span id="back">
    <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
        BACK</a>
  </span>
  <section>
    <div id="content">
        <div id="content_wrap">
            <div id="bg" style="background-color: black;">
                <img src="assets/reinvest/images/quadrangle.jpg" alt="">
            </div>
            <!-- <div id="a1">
                <div class="one" data-toggle="modal" data-target=".alumniModal">
                </div>
            </div> -->
            <!-- <div id="a2">
                <div class="two" data-toggle="modal" data-target=".sportsModal">
                </div>
            </div> -->
            <div id="a3">
                <div class="three" data-toggle="modal" data-target=".collegeModal">
                </div>
            </div>
            <div id="a4">
                <div class="four" data-toggle="modal" data-target=".teachersModal">
                </div>
            </div>
            <div id="a5">
                <div class="five" data-toggle="modal" data-target=".overseasModal">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade alumniModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>ALUMNI</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <img width="100%" src="assets/reinvest/images/10.jpg" alt="">
                            <div id="a6">
                               <a href="https://us02web.zoom.us/j/85876108547?pwd=Vjc5SEpZaXNtUUhNbEk1ZFRXbGZRZz09" target="_blank"> <div class="six" >
                                </div></a>
                            </div>
                            <div id="a7">
                                <a href="https://zoom.us/j/96511153573?pwd=SGJTLysrU1hjdWY3RFdMbDVxazJqUT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a8">
                                <a href="https://zoom.us/j/92790692414?pwd=dWhZamxwSkJORmplRVRXWm9NNlBRZz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a9">
                                <a href="https://us02web.zoom.us/j/82235762315?pwd=MDlUeVFOVlRid0lZTk9SK2lyUGQ5dz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a10">
                                <a href="https://zoom.us/j/94524012320?pwd=OUl5US9MVFFyOHkrdkJzczFpOWI4QT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a11">
                                <a href="https://zoom.us/j/97908978337?pwd=Tkw4L0NXVE1Vd3dFcFBlNU5rcEtMZz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a12">
                                <a href="https://zoom.us/j/92622820875?pwd=M2NvMWp6bnZ5NXNOZEkrdGVXdTlGdz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a13">
                                <a href="https://zoom.us/j/97192034723?pwd=ZTZEMVV2K095YVZjd215azF6WGduUT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a14">
                                <a href="https://us02web.zoom.us/j/86384971877?pwd=ZjB6WEgwdzlwOGtJVHFRRHZjVDdmZz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a15">
                                <a href="https://zoom.us/j/94397778859?pwd=czFRSEpxZE4wdUQ3NnlKUXZqWlJCQT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a16">
                                <a href="https://zoom.us/j/93064985432?pwd=SSt1cTBPK2xoWDBXeC9aMEZBMFBiUT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a17">
                                <a href="https://zoom.us/j/94210480592?pwd=NWpMQ1N5YWVqM2tDbWU1ZUV3amQ5Zz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a18">
                                <a href="https://zoom.us/j/95430741623?pwd=N0FIM2V0NjM1Snl0QnV5NlRpeUQ3Zz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a19">
                                <a href="https://us02web.zoom.us/j/81884954018?pwd=cDdGdXQ4ZUZnYzZkSTFxZmo2V2h3dz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade sportsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>SPORTS</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <img width="100%" src="assets/reinvest/images/13.jpg" alt="">
                            <div id="a6">
                                <a href="https://us02web.zoom.us/j/85876108547?pwd=Vjc5SEpZaXNtUUhNbEk1ZFRXbGZRZz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a7">
                                <a href="https://zoom.us/j/96511153573?pwd=SGJTLysrU1hjdWY3RFdMbDVxazJqUT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a8">
                                <a href="https://zoom.us/j/92790692414?pwd=dWhZamxwSkJORmplRVRXWm9NNlBRZz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a9">
                                <a href="https://us02web.zoom.us/j/82235762315?pwd=MDlUeVFOVlRid0lZTk9SK2lyUGQ5dz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a10">
                                <a href="https://zoom.us/j/94524012320?pwd=OUl5US9MVFFyOHkrdkJzczFpOWI4QT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a11">
                                <a href="https://zoom.us/j/97908978337?pwd=Tkw4L0NXVE1Vd3dFcFBlNU5rcEtMZz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            
                            <div id="a13">
                                <a href="https://zoom.us/j/97192034723?pwd=ZTZEMVV2K095YVZjd215azF6WGduUT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a14">
                                <a href="https://us02web.zoom.us/j/86384971877?pwd=ZjB6WEgwdzlwOGtJVHFRRHZjVDdmZz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a15">
                                <a href="https://zoom.us/j/94397778859?pwd=czFRSEpxZE4wdUQ3NnlKUXZqWlJCQT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a16">
                                <a href="https://zoom.us/j/93064985432?pwd=SSt1cTBPK2xoWDBXeC9aMEZBMFBiUT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a17">
                                <a href="https://zoom.us/j/94210480592?pwd=NWpMQ1N5YWVqM2tDbWU1ZUV3amQ5Zz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a18">
                                <a href="https://zoom.us/j/95430741623?pwd=N0FIM2V0NjM1Snl0QnV5NlRpeUQ3Zz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade collegeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>COLLEGE</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <img width="100%" src="assets/reinvest/images/15.jpg" alt="">
                            <div id="a6">
                                <a href="https://zoom.us/j/97908978337?pwd=Tkw4L0NXVE1Vd3dFcFBlNU5rcEtMZz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a7">
                                <a href="https://zoom.us/j/96511153573?pwd=SGJTLysrU1hjdWY3RFdMbDVxazJqUT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a8">
                                <a href="https://zoom.us/j/92790692414?pwd=dWhZamxwSkJORmplRVRXWm9NNlBRZz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a9">
                                <a href="https://us02web.zoom.us/j/82235762315?pwd=MDlUeVFOVlRid0lZTk9SK2lyUGQ5dz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a10">
                                <a href="https://zoom.us/j/94524012320?pwd=OUl5US9MVFFyOHkrdkJzczFpOWI4QT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            
                            <div id="a13">
                                <a href="https://zoom.us/j/97192034723?pwd=ZTZEMVV2K095YVZjd215azF6WGduUT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a14">
                                <a href="https://us02web.zoom.us/j/86384971877?pwd=ZjB6WEgwdzlwOGtJVHFRRHZjVDdmZz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a15">
                                <a href="https://zoom.us/j/94397778859?pwd=czFRSEpxZE4wdUQ3NnlKUXZqWlJCQT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a16">
                                <a href="https://zoom.us/j/93064985432?pwd=SSt1cTBPK2xoWDBXeC9aMEZBMFBiUT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a17">
                                <a href="https://zoom.us/j/94210480592?pwd=NWpMQ1N5YWVqM2tDbWU1ZUV3amQ5Zz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade teachersModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>TEACHERS</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <img width="100%" src="assets/reinvest/images/12.jpg" alt="">
                            <div id="a20"><a href="https://us02web.zoom.us/j/85876108547?pwd=Vjc5SEpZaXNtUUhNbEk1ZFRXbGZRZz09" target="_blank">
                                <div class="six" >
                                </div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade overseasModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>OVERSEAS</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <img width="100%" src="assets/reinvest/images/11.jpg" alt="">
                            <div id="a6">
                                <a href="https://us02web.zoom.us/j/85876108547?pwd=Vjc5SEpZaXNtUUhNbEk1ZFRXbGZRZz09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                            <div id="a13">
                                <a href="https://zoom.us/j/97192034723?pwd=ZTZEMVV2K095YVZjd215azF6WGduUT09" target="_blank"><div class="six" >
                                </div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="../../../assets/reinvest/images/ticker.jpg" alt="" style="width: 1300px;" />
      </div>
      <div class="slide">
        <img src="../../../assets/reinvest/images/ticker.jpg" alt="" style="width: 1300px;" />
      </div>
    </div>
  </div>