
.table__head{
    color: #FFF;
    font-weight: 700;
    background: #f58438;
    // background: -moz-linear-gradient(-45deg, #9b4085 0%, #608590 100%);
    // background: -webkit-linear-gradient(-45deg, #9b4085 0%,#608590 100%);
    // background: linear-gradient(135deg, #9b4085 0%,#608590 100%);
    white-space: nowrap;
    }
    .table-bordered td, .table-bordered th{
    border: 0px solid #FFF;
    }
    .coin {
    width:8%;
    margin-left: 5px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    
    .winner__table{
        white-space: nowrap;
        text-align: center;
    }
    td{
      text-align: left !important;
    }
    th{
      color: black;
    }
    @media screen and (max-width: 567px) {
    
        .winner__table{
        font-size: 12px;
        }
        .coin {
        width:15%;
        margin-left:2px;
        }
    }
  
    section{
      position: relative; 
      height: 100%;
      width: 100%;
      #clap{
        position: absolute;
        top: 19%; 
        right: 1%;
        z-index: 1000;
      }
      #content{
        position: relative;
        #content_wrap{
          position: relative;
          #bg{
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            img{
              width: calc(100% - 140px);
              height: 100vh;
              margin-left: 70px;
            }
          }
          #player_sec{
            position: absolute;  
            top: 30%;  
            left: 36.3%; 
            vg-player{
              width: 27.2vw;
              height: 30vh;
            }
          }
        }
      }
    }
    #a1{
      position: absolute;
      top: 14%;
      height: 15vh;
      left: 8.5%;
      width: 4vw;
  }
  .one{
    cursor: pointer;
    height: 10vh;
    outline: -webkit-focus-ring-color auto 1px !important;
  }
  #a2{
    position: absolute;
    top: 14%;
    height: 15vh;
    left:13.1%;
    width: 4vw;
  }
  .two{
  cursor: pointer;
  height: 10vh;
  outline: -webkit-focus-ring-color auto 1px !important;
  }
  #a6{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  #a7{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  #a8{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  #a9{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  #a10{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  #a11{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  #a12{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  #a13{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  #a14{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  #a15{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  #a16{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  #a17{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  #a18{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  #a19{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  .three{
  cursor: pointer;
  height: 10vh;
  outline: -webkit-focus-ring-color auto 1px !important;
  }
  .six{
    cursor: pointer;
    height: 10vh;
    outline: -webkit-focus-ring-color auto 1px !important;
    }
  #join{
    position: absolute;
    top: 54%;
      height: 16vh;
      left: 29.5%;
      width: 11vw;
  }
  .four{
  cursor: pointer;
  height: 5vh;
  outline: -webkit-focus-ring-color auto 1px !important;
  }
  
  
  @media only screen and (max-width: 768px) {
    
    #bg{
        img{
            width: calc(100% - 100px) !important;
            margin-left: 50px !important;
        }
    }
  }
  #popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }