<section>
    <div id="content">
      <div id="content_wrap">
        <div id="bg" style="background-color: black;">
          <img src="assets/reinvest/images/sponsors.jpg" alt="">
        </div>
        <div id="a1">
          <div class="one">
          </div>
        </div>
        <div id="a2">
          <div class="two">
          </div>
        </div>
        <div id="a3">
          <div class="three">
          </div>
        </div>
        <div id="join">
          <div class="four">
          </div>
        </div>
        <div id="a4">
          <div class="one">
          </div>
        </div>
        <div id="a5">
          <div class="two">
          </div>
        </div>
        <div id="a6">
          <div class="three">
          </div>
        </div>
        <div id="a7">
          <div class="four">
          </div>
        </div>
        <div id="a8">
          <div class="four">
          </div>
        </div>
        <div id="a9">
          <div class="four">
          </div>
        </div>
      </div>
    </div>
  </section>