
#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  .message_input {
    padding: 10px;
    
    
  }
  
   
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  .reception {
    position: absolute;
    top: 40%;
    left: 20%;
    cursor: pointer;
    // background: black;
    height: 6vw;
    width: 8vw;       
.pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
}
}
