<div class="container-fluid" [ngStyle]="{'display':videoPlay? 'none': 'block'}">
    <div id="bg">
        <img src="../../assets/img/acma_ve.jpg" alt="">

    </div>
    <div id="loginSection">
        <div class="row">
            <div class="col-md-8 col-xl-8 col-sm-8">
                <div id="brand">
                    <img src="../../assets/img/logo_acma.png" height="70" alt="logo">
                </div>

            </div>
            <div class="col-md-4 col-xl-4  col-sm-4">
                <div id="icons_social">
                    <a href="https://www.facebook.com/india.acma/" target="_blank"> <img
                            src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/fb-icon.png"
                            width="46">
                    </a>
                    <a href="https://www.linkedin.com/company/acma-india/" target="_blank"> <img
                            src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/in-icon.png"
                            width="46">
                    </a>
                    <a href="https://twitter.com/acmaindia" target="_blank"> <img
                            src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/twit-icon.png"
                            width="46">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-xl-8  col-sm-6">
                <div class="acma_text">
                    <h3>
                        Automotive Supply Chain- <br>
                        Adjusting to the New Normal
                    </h3>
                    <h5>
                        Building Strategic Partnerships <br>
                        <!-- between T-1& T-2/3 <br> -->
                        (Virtual Exhibiton)
                    </h5>
                    <h5>15-21 October' 2020; 10am-7pm</h5>
                </div>
            </div>
            <div class="col-md-4 col-xl-4  col-sm-6 my-auto">
                <div class="login-wrapper">
                    <h1 class="login-title">Exhibitor Login </h1>

                    <form [formGroup]="loginExhibitor" #formDir="ngForm" (ngSubmit)="loggedIn()"
                        style="position: relative;">
                        <div class="form-group">
                            <label for="emails" style="color: white;">Username</label>
                            <input type="email" style="background-color: lightgray;" class="form-control" required
                                autocomplete="off" formControlName="emails" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <label for="pwds" style="color: white;">Password</label>
                            <input style="background-color: lightgray;" type="password" class="form-control" required
                                autocomplete="off" formControlName="pwds" placeholder="Enter your password">
                        </div>
                        <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Submit">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div [ngStyle]="{'display':videoPlay? 'block': 'none'}" class="videoContainer">
    <video id="myVideo" preload="auto" class="videoBg" (ended)="endVideo()">
        <source src="../../assets/img/Outer/Outer_Animation.mp4" type="video/mp4">
    </video>
</div> -->