.container-fluid{
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  #bg{
      img{
          width: 100vw;
          height: 100vh;
      }
  }
  
  #loginSection{
      position: absolute;
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      top: 0;
      .row{
          #brand{
              margin-top: 50px;
          }
          #icons_social{
              float: right;
              a{
                  img{
                      padding: 5px;
                  }
              }
          }
      }
      
  }
  
}
.acma_text{
  margin-top: 15%;
  margin-left: 10%;
  color: white;
}
@media (max-width: 767px) {
  .container-fluid{
      #loginSection{
          .row{
              #brand{
                  margin: 5px;
              }
              .acma_text{
                  margin: 5px;
                  h3{
                      font-size: 16px;
                  }
                  h5{
                      font-size: 20px;
                  }
              }
              .login-wrapper{
                  padding: 5px;
              }
          }
      }   
  }
}
.login-wrapper {
  width: 300px;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  // margin-top: 15%;
  margin-left: 10%;

}
  @media (max-width: 575px) {
    .login-wrapper {
      width: 100%;
      margin-top: 50%
     } }
  .login-wrapper label {
    font-size: 14px;
    font-weight: bold;
    // color: #b0adad;
    color: #495057;
  }
  .login-wrapper .form-control {
    outline: none;
    box-shadow:none !important;
    border:1px solid #0808080d !important;

    background: #0808080d;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 9px 5px;
    min-height: 34px;
    font-size: 15px;
    font-weight: normal;
  }
    .login-wrapper .form-control::-webkit-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::-moz-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control:-ms-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::-ms-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::placeholder {
      color: #495057;
      font-weight: 500;
    }
  .login-wrapper .login-btn {
    padding: 12px 12px;
    background-color: #007bff;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px;
  }
    // .login-wrapper .login-btn:hover {
    //   border: 1px solid #007bff;
    //   background-color: #fff;
    //   color: #007bff;
    // }
  .login-wrapper a.forgot-password-link {
    // color: #080808;
    color: black;
    font-weight: 500;
    font-size: 15px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 50px;
  }
  @media (max-width: 575px) {
    .login-wrapper a.forgot-password-link {
      margin-bottom: 16px;
    }
  }
  .login-wrapper-footer-text {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
    a{
      // text-decoration: none;
      font-weight: 700;
      color: #007d30;
    }
  }

.login-title {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 25px; }

.login-img {
  width: 100%;
  height: 100vh;
  position: absolute;
  // -o-object-fit: cover;
  //    object-fit: cover;
  // -o-object-position: left;
  //    object-position: left;
  }

/*# sourceMappingURL=login.css.map */
input.ng-invalid.ng-touched{
  border-color:red;
}