<section>
    <div id="content">
      <div id="content_wrap">
        <div id="bg" style="background-color: black;">
          <img src="assets/reinvest/images/registering.jpg" alt="">
        </div>
        
        <div id="join">
          <div class="four" [routerLink]="['/login']">
          </div>
        </div>
      </div>
    </div>
  </section>