<section>
    <div id="content">
        <div id="content_wrap">
            <div id="bg">
                <img src="assets/reinvest/images/p1.jpeg" alt="">
            </div>
            <!-- <map name="session">
                <area shape="rect" coords="400,280,290,230" alt="" [routerLink]="['/networkingLounge']">
                <area shape="rect" coords="590,280,470,230" alt="" [routerLink]="['/sessions']">
                <area shape="rect" coords="770,280,670,230" alt="" [routerLink]="['/partners']">
                <area shape="rect" coords="960,280,850,230" alt="" [routerLink]="['/networkingLounge']">
              </map> -->
        </div>
    </div>
</section>