<div class="container-fluid" id="popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6>LIBRARY / MEDIA</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <!-- <embed src="../../../assets/reinvest/images/breakout.jpg"
            frameborder='0' width="100%"> -->
            <!-- <div class="reception">
                 <a href="https://acmaindia-iautoconnect.in/" target="_blank" rel="noopener noreferrer"><div class="pulsating-circle" id="reception_pulse"></div> </a>
                
            </div> -->
         
            <table>
              <tr>
                <th>Title</th>
                <th>PDF</th>
                <!-- <th>Country</th> -->
              </tr>
              <tr>
                <td>BCG-CII-Decentral Energy and DISCOMs</td>
                <td><a target="_blank" href="../../../assets/reinvest/images/BCG.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                <!-- <td>Germany</td> -->
              </tr>
              <tr>
                <td>Report on RE and Power</td>
                <td><a target="_blank" href="../../../assets/reinvest/images/CII.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                <!-- <td>Germany</td> -->
              </tr>
              <tr>
                <td>The Voice of the Customer in India’s Power Sector</td>
                <td><a target="_blank" href="../../../assets/reinvest/images/RE.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                <!-- <td>Germany</td> -->
              </tr>
            </table>
        </div>
      </div>
    </div>
  