<span id="back">
  <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
      BACK</a>
</span>
<section>
  <div id="content">
    <div id="content_wrap">
      <div id="bg" style="background-color: black;">
        <img src="assets/reinvest/images/gratitude.jpg" alt="">
      </div>
      <div id="join">
        <div class="four" data-toggle="modal" data-target=".groupchatTwo">
          <div class="pulsating-circle"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="../../../assets/reinvest/images/ticker.jpg" alt="" style="width: 1300px;" />
    </div>
    <div class="slide">
      <img src="../../../assets/reinvest/images/ticker.jpg" alt="" style="width: 1300px;" />
    </div>
  </div>
</div>