#back{
  position: absolute;
  top: 10px;
  left: 75px;
  background: #141433;
  color: white;
  z-index: 100;
  font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  border: 1px solid #060a39;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 0px;
  a{
      text-transform: capitalize;
      color: white;
  }
}
.table__head{
    color: #FFF;
    font-weight: 700;
    background: #f58438;
    // background: -moz-linear-gradient(-45deg, #9b4085 0%, #608590 100%);
    // background: -webkit-linear-gradient(-45deg, #9b4085 0%,#608590 100%);
    // background: linear-gradient(135deg, #9b4085 0%,#608590 100%);
    white-space: nowrap;
    }
    .table-bordered td, .table-bordered th{
    border: 0px solid #FFF;
    }
    .coin {
    width:8%;
    margin-left: 5px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    
    .winner__table{
        white-space: nowrap;
        text-align: center;
    }
    td{
      text-align: left !important;
    }
    th{
      color: black;
    }
    @media screen and (max-width: 567px) {
    
        .winner__table{
        font-size: 12px;
        }
        .coin {
        width:15%;
        margin-left:2px;
        }
    }
  
    section{
      position: relative; 
      height: 100%;
      width: 100%;
      #clap{
        position: absolute;
        top: 19%; 
        right: 1%;
        z-index: 1000;
      }
      #content{
        position: relative;
        #content_wrap{
          position: relative;
          #bg{
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            img{
              width: calc(100% - 140px);
              height: 100vh;
              margin-left: 70px;
            }
          }
          #player_sec{
            position: absolute;  
            top: 30%;  
            left: 36.3%; 
            vg-player{
              width: 27.2vw;
              height: 30vh;
            }
          }
        }
      }
    }
    #a1{
      position: absolute;
      top: 14%;
      height: 15vh;
      left: 8.5%;
      width: 4vw;
  }
  .one{
    cursor: pointer;
    height: 10vh;
    outline: -webkit-focus-ring-color auto 0px !important;
  }
  #a2{
    position: absolute;
    top: 14%;
    height: 15vh;
    left:13.1%;
    width: 4vw;
  }
  .two{
  cursor: pointer;
  height: 10vh;
  outline: -webkit-focus-ring-color auto 0px !important;
  }
  #a3{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  .three{
  cursor: pointer;
  height: 10vh;
  outline: -webkit-focus-ring-color auto 0px !important;
  }
  
  #join{
    position: absolute;
    top: 8%;
    height: 16vh;
    left: 25.5%;
    width: 11vw;
  }
  .pulsating-circle{
    position: absolute;
    top: 55%;
    left: 37.5%;

  }
  .four{
  cursor: pointer;
  height: 5vh;
  outline: -webkit-focus-ring-color auto 0px !important;
  }
  
  
  @media only screen and (max-width: 768px) {
    
    #bg{
        img{
            width: calc(100% - 100px) !important;
            margin-left: 50px !important;
        }
    }
  }
  @mixin white-gradient {
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
  
  $animationSpeed:45s;
  
  // Animation
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 5))}
  }
  

  @media only screen and (max-width: 800px) {
      .logo{
          width: 25% !important;
      }
    }
  .slider {
      // height: 8vh;
      width: 100%;
      position: absolute;
      bottom: 0%;
      z-index: 9;
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 70px;
    margin: auto;
    overflow:hidden;
    // position: relative;
    // width: 960px;
    
    &::before,
    &::after {
      @include white-gradient;
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
    }
    
    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
  
    &::before {
      left: 0;
      top: 0;
    }
    
    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(250px * 2);
    }
    
    .slide {
      height: 100px;
      width: 1300px;
    }
  }