<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="bg" [ngStyle]="{ 'background-image': 'url(' + banner + ')'}"></div> -->
<div class="bgct">
    <div class="standing">
        <div id="bg">
            <img id="bgImg" src="{{banner}}" alt="">
            <i *ngIf="backButton" class="fa fa-arrow-left" style="left: 12% !important;  position: absolute !important;
            top: 12% !important; font-size: 3em !important; cursor: pointer !important;  color:whitesmoke !important; z-index: 9999999; outline: -webkit-focus-ring-color auto 0px !important;" aria-hidden="true" (click)=previous()></i>
            <i *ngIf="nextButton" class="fa fa-arrow-right" style="right: 12% !important;  position: absolute !important;
            top: 12% !important; font-size: 3em !important; cursor: pointer !important;  color:whitesmoke !important; z-index: 9999999; outline: -webkit-focus-ring-color auto 0px !important;" (click)=next() aria-hidden="true"></i>
            <div id="setting">
                <div class="logo1">
                    <img src="{{exhibiton[0].logo}}">
                </div>
                <div class="title">
                    <p title="{{exhibiton[0].title}}">{{exhibiton[0].title |slice:0:29}}</p>
                </div>
                <div class="creatve1" data-toggle="modal" data-target=".leftGraphicModal" title="Creative">
                    <div class="pulsating-circle"></div>
                    <img src="{{exhibiton[0].creatives.creative1}}">
                </div>
                <div class="creatve2" data-toggle="modal" data-target=".rightGraphcModal" title="Creative">
                    <div class="pulsating-circle"></div>
                    <img src="{{exhibiton[0].creatives.creative2}}">
                </div>
                <div class="creatve3" data-toggle="modal" data-target=".thirdGraphicModal" title="Creative">
                    <div class="pulsating-circle"></div>
                    <img src="{{exhibiton[0].creatives.creative3}}">
                </div>

                <div class="video_meeting" title="Schedule a call" data-toggle="modal" data-target=".scheduleCallmodal">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="live_chat" title="Chat with Exhibitor" data-toggle="modal" data-target=".liveQuestionModal">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="connectUs" data-toggle="modal" title="Connect with us" data-target=".salesModal">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="broucher" title="Brochures" data-toggle="modal" data-target=".docsModal">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="product_list" data-toggle="modal" title="Product List" data-target=".productModal">
            <div class="pulsating-circle"></div>
          </div>
                <!-- <div class="broucher" data-toggle="modal" data-target=".docsModal" (click)="stepUpAnalytics('Brouchers_list')">
            <div class="pulsating-circle"></div>
          </div> -->
                <div class="card_drop" title="Click to card drop" (click)="cardPost()">
            <div class="pulsating-circle"></div>
          </div>
                <div class="logo2">
                    <img src="{{exhibiton[0].logo}}">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <a class="p-2" id="cometchat6" name="superhero6" style="cursor: pointer; position: absolute; top: 100px; left: 20px; color: #fff; background-color:#03a9f4; border-radius: 20px; font-weight: 800;">Guest 6</a>
<a class="p-2" id="cometchat7" name="superhero7" style="cursor: pointer; position: absolute; top: 200px; left: 20px; color: #fff; background-color:#03a9f4; border-radius: 20px; font-weight: 800;">Guest 7</a> -->
<button style="padding-left: 10px;
padding-right: 10px;
border: 1px solid #000;
border-radius: 5px;
font-weight: 700;
line-height: 30px;
position: absolute; top: 20px; z-index: 99999; left: 25%;cursor: pointer;
transform: rotateX(45deg);" title="Exhibitors" data-target=".exDirectories" data-toggle="modal" type="button">Exhibitors List</button>
    
  
  
<div>
    <!-- <div class="icon_box" title="VIDEO">
    <a class="icon-link">
    <span style="width: 48px;
    position: absolute;
    right: -10px;
    background: #fff;
    top: -8px;
    border-radius: 50%;
    padding: 8px;">
      <img src="../../../../assets/icons/player-icon.png"  style="width:100%">
    </span>
    
    </a>
  </div> -->

    <!-- <div class="icon_box2" data-toggle="modal" data-target=".salesModal" title="CHAT WITH BOOT STAFF">
    <a class="icon-link">
      <span style="width: 48px;
      position: absolute;
      right: -10px;
      background: #fff;
      top: -8px;
      border-radius: 50%;
      padding: 8px;">
        <img src="../../../../assets/icons/confrense.png"  style="width:100%">
      </span>
       
      </a>
  </div> -->
    <!-- <div class="icon_box3" (click)="openCallBox()" title="REQUEST CALL BACK">
    <a class="icon-link">
      <span style="width: 48px;
      position: absolute;
      right: -10px;
      background: #fff;
      top: -8px;
      border-radius: 50%;
      padding: 8px;">
        <img src="../../../../assets/icons/call-back.png"  style="width:100%">
      </span>
      
      </a>
  </div> -->
    <!-- <div class="icon_box1" data-toggle="modal" data-target=".docsModal" title="DOCUMENT INFO">
    <a class="icon-link">
      <span style="width: 48px;
      position: absolute;
      right: -10px;
      background: #fff;
      top: -8px;
      border-radius: 50%;
      padding: 8px;">
        <img src="assets/icons/file.png"  style="width:100%">
      </span>
      <span class="person">
        <a href="test" download class="checkProfile"> </a>
      </span>

      </a>
  </div> -->
</div>
<!-- <div style="position: relative;  top: -68.6%;  left: 36.75555%;">
  <vg-player [ngStyle]="{'width': '26.5%'}">
    <vg-controls [vgAutohide]="true" [vgAutohideTime]="1">

      <vg-play-pause></vg-play-pause>
      <vg-time-display></vg-time-display>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen></vg-fullscreen>
    </vg-controls>
    <vg-buffering></vg-buffering>
    <video #myMedia [vgMedia]="myMedia" preload="auto" autoplay="true" vg-responsive="true" type="video/mp4"
      [src]="exhibiton[0].video">
    </video>
  </vg-player>
</div> -->
<div id="socialicons">
    <a target="_blank" *ngIf="exhibiton[0].twitter != ''" href="{{exhibiton[0].twitter}}"><img src="../../../../assets/icons/twit.png"
            alt=""></a>
    <a target="_blank" *ngIf="exhibiton[0].youtube != ''" href="{{exhibiton[0].youtube}}"><img src="../../../../assets/icons/youtube.png"
            alt=""></a>
    <a target="_blank" *ngIf="exhibiton[0].linkedin_url != ''" href="{{exhibiton[0].linkedin_url}}"><img src="../../../../assets/icons/linkdin.png"
            alt=""></a>
    <a target="_blank" *ngIf="exhibiton[0].fb != ''" href="{{exhibiton[0].fb}}"><img src="../../../../assets/icons/fbicon.png"
            alt=""></a>
            <a href="{{exhibiton[0].linkedin}}" *ngIf="exhibiton[0].linkedin != ''" target="_blank" rel="noopener noreferrer">
              <i style="    position: absolute;
                 right: 14px;
    bottom: 235px;
    font-size: 41px;" class="fa fa-globe"></i>
            </a>
</div>

<div id="players" (click)="playShowVideo()" title="Play Video">
    <div class="one" title="Click to play video" (click)="playShowVideo()">
        <!-- <i class="fa fa-play-circle" style="font-size: 40px;" ></i> -->
    </div>
    <!-- <div class="two" title="Click to play video">
    <i class="fa fa-play-circle" style="font-size: 40px;" (click)="playShowVideo();stepUpAnalytics('Play_video2')"></i>
  </div>
  <div class="three" title="Click to play video">
    <i class="fa fa-play-circle" style="font-size: 40px;" (click)="playShowVideo();stepUpAnalytics('Play_video3')"></i>
  </div>-->
    <!-- <div class="four" title="Click to play video">
    <i class="fa fa-play-circle" style="font-size: 40px;" (click)="playShowVideo();stepUpAnalytics('Play_video')"></i>
  </div>  -->
</div>
<!-- <div class="left_graphic" >
    <div class="pulsating-circle"></div>
</div>
<div class="right_graphic">
    <div class="pulsating-circle"></div>
</div>
<div class="third_graphic">
    <div class="pulsating-circle"></div>
</div> -->

<!-- <div class="left_url" (click)="stepUpAnalytics('company_Website')">
  <a href="{{exhibiton[0].linkedin}}" target="_blank" rel="noopener noreferrer">
    <div class="pulsating-circle"></div>
  </a>

</div>
<div class="left_graphic" data-toggle="modal" data-target=".leftGraphicModal" (click)="stepUpAnalytics('left_graphics')">
  <div class="pulsating-circle"></div>
</div>
<div class="right_url" (click)="stepUpAnalytics('company_Website')">
  <a href="{{exhibiton[0].linkedin}}" target="_blank" rel="noopener noreferrer">
    <div class="pulsating-circle"></div>
  </a>

</div>
<div class="right_graphic" data-toggle="modal" data-target=".rightGraphcModal" (click)="stepUpAnalytics('right_graphics')">
  <div class="pulsating-circle"></div>
</div> -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="padding:65px">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closePopup" (click)="closeModalVideo()">&times;</div>
                    <video id="video" preload="auto" src="{{exhibiton[0].video}}" width="100%" controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div style="position: relative;  top: -69%;  left: 25%;">
  <vg-player  [ngStyle]="{'width': '14.5%'}">
    <vg-controls [vgAutohide]="true" [vgAutohideTime]="1">

      <vg-play-pause></vg-play-pause>
      <vg-time-display ></vg-time-display>
      <vg-playback-button></vg-playback-button>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen ></vg-fullscreen>
    </vg-controls>
    <vg-buffering></vg-buffering>
    <video #myMedia [vgMedia]="myMedia"
    preload="auto"  autoplay="true"
     vg-responsive="true"
    type="video/mp4"  >
    <source src="{{exhibiton.video}}" type="video/mp4">
    </video>
</vg-player>
</div> -->
<!-- <div class="chats" title="Chat with booth staff" (click)="openChat()">
  <div class="pulsating-circle" ></div>
</div>
<div class="docs" title="Show Documents" (click)="openDocs()">
  <div class="pulsating-circle" ></div>
</div>
<div class="call" title="Schedule a call" (click)="openCallBox()">
  <div class="pulsating-circle" ></div>
</div>
<div class="info" title="Sales info" (click)="opensales()">
  <div class="pulsating-circle" ></div>    color: #000;
    background: #fff;
    border-radius: 4px;
    padding: 5px 60px 5px 20px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    transition: transform 300ms linear;
</div> -->
<div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">Brochure</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message">
                                                <li class="chat_messageList" *ngFor="let docs of brouchers">
                                                    <div class="img_avatar"> <img src="./assets/img/pdf.png" alt=""></div>

                                                    <span class="person">
                                                        <a href="{{docs.url}}" style="text-decoration: none; color: black;"
                                                            target="_blank" download class="checkProfile">
                                                            {{docs.title}}</a>
                                                    </span>
                                                    <!-- <span *ngIf="docs.flag=='0'" (click)="postBreifcase(docs.title,docs.url)" class="float-right"
                            title="Add to breifcase" style="cursor: pointer;">
                            <img src="../../../../assets/icons/Briefcase.png" alt="">
                          </span> -->
                                                    <!-- <span *ngIf="docs.flag=='1'" class="float-right" title="Already Added" style="cursor: pointer;">
                            <i class="fa fa-briefcase" style="font-size: 28px;" aria-hidden="true"></i>
                          </span> -->
                                                    <!-- <span class="person">
                                <a href="test" download class="checkProfile"> test</a>
                              </span> -->



                                                </li>


                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- product list -->


<div class="modal fade productModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">Products</h6>
                                <a class="close" (click)="closeproduct()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message">
                                                <ul class="chat_message">
                                                    <li class="chat_messageList" *ngFor="let data of exhibiton[0].product">
                                                        <div class="img_avatar"> <img src="./assets/img/pdf.png" alt=""></div>
    
                                                        <span class="person">
                                                            <a href="{{data.url}}" style="text-decoration: none; color: black;"
                                                                target="_blank" download class="checkProfile">
                                                                {{data.title}}- {{data.desc}}</a>
                                                        </span>

                                                     
    
    
                                                    </li>
    
    
                                                </ul>

                                                <hr>
                                            </ul>
                                        </div>

                                    </div>
                                    <!-- <div class="col-md-7 col-xl-7">
                                        <img [src]="product" width="100%" alt="">
                                        <img *ngIf="pord_desc" [src]="pord_desc" width="100%" alt="">
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- left graphic -->
<div class="modal fade leftGraphicModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header" style="background:#d7a322">
                                <h6 style="text-transform: uppercase;">Creative</h6>
                                <a class="close" (click)="closeLeft()"></a>
                            </div>
                            <!-- <embed style="width:100%" [src]="exhibiton[0].graphics[0].url"
                height="550" frameborder='0' > -->
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <img [src]="exhibiton[0].creatives.creative1" alt="" width="100%">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Right graphics -->
<div class="modal fade rightGraphcModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header" style="background:#d7a322">
                                <h6 style="text-transform: uppercase;">Creative</h6>
                                <a class="close" (click)="closeright()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <img [src]="exhibiton[0].creatives.creative2" alt="" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- third graphic -->
<div class="modal fade thirdGraphicModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header" style="background:#d7a322">
                                <h6 style="text-transform: uppercase;">Creative</h6>
                                <a class="close" (click)="closethird()"></a>
                            </div>
                            <!-- <embed style="width:100%" [src]="exhibiton[0].graphics[0].url"
                height="550" frameborder='0' > -->
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <img [src]="exhibiton[0].creatives.creative3" alt="" width="100%">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- Sales-Info -->
<div class="modal fade salesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">Connect with us</h6>
                                <a class="close" (click)="closesales()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">

                                    <div class="col-md-6" *ngFor="let sales of salesPerson; let i = index">
                                        <div class="profile-card">
                                            <div #screen id="hello{{i}}">
                                                <figure>
                                                    <i class="fa fa-user"></i>
                                                </figure>
                                                <h3>{{sales.name}}</h3>
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td><i class="fa fa-id-badge"></i>{{sales.position}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fa fa-envelope"></i>{{sales.email}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fa fa-mobile"></i>{{sales.contact}}</td>
                                                        </tr>
                                                        <!-- <tr>
                                <td><i class="fa fa-trash"></i><a id="{{sales.id}}">{{sales.id}}</a></td>
                            </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                            <a nhref="" class="download_card" (click)="download(i,sales.name)">
                                                Download
                                            </a>

                                        </div>
                                        <div id="download">
                                            <img #canvas style="display: none;">
                                            <a #downloadLink></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- schdeule a call -->
<div class="modal fade scheduleCallmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">SCHEDULE A CALL</h6>
                                <a class="close" (click)="closeCall()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">




                                <h4 style="padding-top: 12px;">Select a Date & Time</h4>

                                <div class="row pt-2">

                                    <div class="col-md-6">
                                        <div class="calendar-part">
                                            <ngb-datepicker [minDate]="{year: 2020, month: 11, day: 1}" [maxDate]="{year: 2020, month: 11, day: 30}"
                                                #dp [(ngModel)]="model" (navigate)="date = $event.next" (dateSelect)="onDateSelect($event)"></ngb-datepicker>
                                        </div>
                                        <!-- <pre>Model: {{ model | json }}</pre> -->
                                    </div>
                                    <div class="col-md-6" style="overflow-y: scroll;">
                                        <div class="time-part">

                                            <ul class="time-list mCustomScrollbar _mCS_4" id="list">
                                                <div id="mCSB_4" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside"
                                                    tabindex="0" style="max-height: none;">
                                                    <div id="mCSB_4_container" class="mCSB_container" style="position:relative; top:0; left:0;"
                                                        dir="ltr">

                                                        <li *ngFor="let times of newTimeSlots">
                                                            <a *ngIf="times.flag =='enabled'" (click)="getTime($event,'active',times.time)"
                                                                href="javascript:void(0);" class="time_a" data-val=times.time>{{times.time}}</a>

                                                            <!-- <a  href="javascript:void(0);" disabled="disabled"
                              class="time_a btn-disabled">{{times.time}}</a> -->

                                                            <a *ngIf="times.flag =='disabled'" disabled="disabled" href="javascript:void(0);"
                                                                class="time_a btn-disabled" data-val=times.time>{{times.time}}</a>
                                                        </li>
                                                        <!-- <li id=""><a (click)="getTime($event,'active','10:00')" href="javascript:void(0);"
                                class="time_a" data-val="10:00">10:00 am</a></li>

                            <li id=""><a (click)="getTime($event,'active','10:30')" href="javascript:void(0);"
                                class="time_a" data-val="10:30">10:30 am</a></li>

                            <li id=""><a (click)="getTime($event,'active','11:00')" href="javascript:void(0);"
                                class="time_a" data-val="11:00">11:00 am</a></li>

                            <li id=""><a (click)="getTime($event,'active','11:30')" href="javascript:void(0);"
                                class="time_a" data-val="11:30">11:30 am</a></li>

                            <li id=""><a (click)="getTime($event,'active','12:00')" href="javascript:void(0);"
                                class="time_a" data-val="12:00">12:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','12:30')" href="javascript:void(0);"
                                class="time_a" data-val="12:30">12:30 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','01:00')" href="javascript:void(0);"
                                class="time_a" data-val="13:00">01:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','01:30')" href="javascript:void(0);"
                                class="time_a" data-val="13:30">01:30 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','02:00')" href="javascript:void(0);"
                                class="time_a" data-val="14:00">02:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','02:30')" href="javascript:void(0);"
                                class="time_a" data-val="14:30">02:30 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','03:00')" href="javascript:void(0);"
                                class="time_a" data-val="15:00">03:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','03:30')" href="javascript:void(0);"
                                class="time_a" data-val="15:30">03:30 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','04:00')" href="javascript:void(0);"
                                class="time_a" data-val="16:00">04:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','04:30')" href="javascript:void(0);"
                                class="time_a" data-val="16:30">04:30 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','05:00')" href="javascript:void(0);"
                                class="time_a" data-val="17:00">05:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','05:30')" href="javascript:void(0);"
                                class="time_a" data-val="17:30">05:30 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','06:00')" href="javascript:void(0);"
                                class="time_a" data-val="18:00">06:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','06:30')" href="javascript:void(0);"
                                class="time_a" data-val="18:30">06:30 pm</a></li> -->

                                                    </div>
                                                    <div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools mCSB_4_scrollbar mCS-light mCSB_scrollTools_vertical"
                                                        style="display: block;">
                                                        <div class="mCSB_draggerContainer">
                                                            <div id="mCSB_4_dragger_vertical" class="mCSB_dragger"
                                                                style="position: absolute; min-height: 30px; display: block; height: 149px; max-height: 290px; top: 0px;">
                                                                <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                                            </div>
                                                            <div class="mCSB_draggerRail"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>

                                        </div>
                                    </div>
                                    <button class="confirm-btn" id="confirm_button" type="button" (click)="confirm()">Confirm</button>
                                </div>







                                <!-- <div class="col-md-1 col-xl-1">
              <div class="online_chat"></div>
            </div> -->

                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $('#datepicker').datepicker({
                        uiLibrary: 'bootstrap4'
                    });
                </script>

            </div>
        </div>
    </div>
</div>

<!-- live chat modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="position: absolute; bottom: 0px; right: 85px;">
        <div class="modal-content">
            <!-- <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>Live Chat</h6>
                <a class="close" (click)="closeChat()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <div class="chat_box">
                      <ul class="chat_message" id="chat_messaged">
                        <li class="chat_messageList" *ngFor="let qa of qaList">
                          <div class="img_avatar"> <img src="../assets/img/default_avatar.png" alt=""></div>

                          <span class="person">
                            <a href="javascript:void(0);" style="font-size: 14px; font-weight: bold; color: #000;"
                              class="checkProfile">{{qa.question}}</a>
                          </span>
                          
                          <div class="text_message">
                            <table>
                              <td> <img src="../assets/img/customer_support.png" *ngIf="qa.answer" alt="" height="25px"
                                  width="20px"> &nbsp; &nbsp;</td>
                              <td>
                                <p [innerHTML]="qa.answer"></p>
                              </td>
                            </table>


                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="message_input">
                      <textarea name="message" autocomplete="off" placeholder="Enter your question" [formControl]="textMessage"
                        (keyup.enter)="postQuestion(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                    </div>
                    <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                      (click)="postQuestion(textMessage.value)">Submit</button>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
            <div class="card" id="chatSection" *ngIf="isShow">
                <div class="p-3" style="font-weight: 500; background-color: #da251c; color: white;">Chat with
                    {{exhibiton[0].title}}
                    <i class="fa fa-times float-right" style="cursor: pointer;" title="Minimize Chat" *ngIf="showchat"
                        (click)="hidediv()"></i>
                    <i class="fa fa-arrow-up float-right" *ngIf="hidechat" title="Maximize Chat" (click)="show()"></i>
                </div>
                <div class="row" *ngIf="showDiv">
                    <div class="col-md-12 col-xl-12 col-sm-12">
                        <div id="setChat">
                            <div class="card p-2" *ngFor="let qa of qaList" style="border-left: 5px solid cadetblue; margin-bottom: 5px">
                                <div id="image_profile" style="padding: 1px 12px;
                  ">
                                    <span class="profileImage1 card-body" *ngIf="myid != qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name
                                        | slice:0:1}}</span>

                                    <div *ngIf="myid != qa.sender_id" id="profile_details1">
                                        <div>{{qa.msg}}</div>
                                    </div>
                                    <span class="profileImage card-body" *ngIf="myid == qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name
                                        | slice:0:1}}</span>
                                    <div *ngIf="myid == qa.sender_id" id="profile_detail">
                                        <div>{{qa.msg}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-3 pb-3 pl-1 pr-1">
                            <input class="form-control" [(ngModel)]="msgs" maxlength="60" placeholder="Write something here.."
                                [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)" /> <br>
                            <button class="btn btn-danger" (click)="postQuestion(textMessage.value)">Send</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="modal fade exDirectories" style="z-index: 999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closeStandard()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table>
                                <!-- <tr>
                                    <th style="text-align: center; font-size: 23 !important;"> Exhibitors</th>
                                    <th>Stalls</th>
                                </tr> -->
                                <div style="overflow-y: scroll; height: 550px;background-color: white;
                                cursor: pointer;">
                                    <tr *ngFor="let stands of standardList">
                                        <td (click)="lifeboy(stands.id)">{{stands.title}}</td>
                                    </tr>
                                    <td></td>
                                    <tr *ngFor="let prems of premiumList">
                                        <td (click)="premium(prems.id)">{{prems.title}}</td>
                                    </tr>
                                </div>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>