
.table__head{
    color: #FFF;
    font-weight: 700;
    background: #f58438;
    // background: -moz-linear-gradient(-45deg, #9b4085 0%, #608590 100%);
    // background: -webkit-linear-gradient(-45deg, #9b4085 0%,#608590 100%);
    // background: linear-gradient(135deg, #9b4085 0%,#608590 100%);
    white-space: nowrap;
    }
    .table-bordered td, .table-bordered th{
    border: 0px solid #FFF;
    }
    .coin {
    width:8%;
    margin-left: 5px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    
    .winner__table{
        white-space: nowrap;
        text-align: center;
    }
    td{
      text-align: left !important;
    }
    th{
      color: black;
    }
    @media screen and (max-width: 567px) {
    
        .winner__table{
        font-size: 12px;
        }
        .coin {
        width:15%;
        margin-left:2px;
        }
    }
 
    section{
      position: relative; 
      height: 100%;
      width: 100%;
      #clap{
        position: absolute;
        top: 19%; 
        right: 1%;
        z-index: 1000;
      }
      #content{
        position: relative;
        #content_wrap{
          position: relative;
          #bg{
            position: relative;
            height: 100%;
            display: block;
            width: 100%;
            img{
              width: calc((100% - 140px));
              height: 100vh;
              margin-left: 70px;
            }
          }
          #player_sec{
            position: absolute;  
            top: 30%;  
            left: 36.3%; 
            vg-player{
              width: 27.2vw;
              height: 30vh;
            }
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      #bg{  
        #img{
          width: calc((100% - 110px))!important;
          margin-left: 55px !important;
        }     
      }
  }
    #a1{
      position: absolute;
      top: 14%;
      height: 15vh;
      left: 8.5%;
      width: 4vw;
  }
  .one{
    cursor: pointer;
    height: 10vh;
    outline: -webkit-focus-ring-color auto 0px !important;
  }
  #a2{
    position: absolute;
    top: 14%;
    height: 15vh;
    left:13.1%;
    width: 4vw;
  }
  .two{
  cursor: pointer;
  height: 10vh;
  outline: -webkit-focus-ring-color auto 0px !important;
  }
  #a3{
    position: absolute;
    top: 14%;
      height: 15vh;
      left: 17.8%;
      width: 4vw;
  }
  .three{
  cursor: pointer;
  height: 10vh;
  outline: -webkit-focus-ring-color auto 0px !important;
  }

  //   7 links

  #b1{
    position: absolute;
    top: 50.5%;
    height: 15vh;
    left: 17%;
    width: 9vw;
  }
  .bone,.btwo,.bthree,.bfour,.bfive,.bsix,.bseven{
    cursor: pointer;
    height: 4vh;
    outline: -webkit-focus-ring-color auto 0px !important;
  }
  .beight{
    cursor: pointer;
    height: 50px;
    outline: -webkit-focus-ring-color auto 0px !important;
  
  }

  #b2{
    position: absolute;
    top: 50.5%;
    height: 15vh;
    left: 36%;
    width: 9vw;
  }
  
  
  #b3{
    position: absolute;
    top: 50.5%;
    height: 15vh;
    left: 55%;
    width: 9vw;
  }
  
  
  #b4{
    position: absolute;
    top: 83%;
    height: 15vh;
    left: 26%;
    width: 10vw;
  }
  
  
  #b5{
    position: absolute;
    top: 83%;
    height: 15vh;
    left: 45%;
    width: 9vw;
  
  }
  
  
  #b6{
    position: absolute;
    top: 83%;
    height: 15vh;
    left: 64%;
    width: 9vw;
  }
  
  #b7{
    position: absolute;
    top: 50.5%;
    height: 15vh;
    left: 73%;
    width: 9vw;
  }
  #b8{
    position: absolute;
      bottom: 3%;
      height: 13vh;
      left: 6%;
      width: 6vw;
  }