<section>
  <div id="content">
    <div id="content_wrap">
      <div id="bg" style="background-color: black;">
        <img src="assets/reinvest/images/document.jpg" alt="">
        <span id="back">
          <a class="nav-link sign" routerLink="/library" title="Logout" role="button">
              BACK</a>
        </span>
      
      </div>
      <div id="a1">
        <a href="assets/reinvest/images/AOA_ERA.pdf" download><div class="one">
        </div></a>
      </div>
      <div id="a2">
        <a href="assets/reinvest/images/Choma_Eagles_Brochure.pdf" download><div class="two">
        </div></a>
      </div>
      <div id="a3">
        <a href="assets/reinvest/images/Doc_Choma_Eagles.pdf" download><div class="three">
        </div></a>
      </div>
      <div id="a4">
        <a href="assets/reinvest/images/ERA_MEMBER_LIST_NOV_2020.pdf" download><div class="four">
        </div></a>
      </div>
      <div id="join">
        <a href="https://exraists.com/" target="_blank"><div class="four">
        </div></a>
      </div>
      <div id="join2">
        <a href="https://bit.ly/2YhEr3d" target="_blank"><div class="four">
        </div></a>
      </div>
      <div id="join3">
        <a href="https://bit.ly/3el05t1" target="_blank"><div class="four">
        </div></a>
      </div>
      <div id="join4">
        <a href="https://apple.co/3hMVNNi" target="_blank"><div class="four">
        </div></a>
      </div>
      <div id="join5">
        <a href="https://bit.ly/2BmcTAS" target="_blank"><div class="four">
        </div></a>
      </div>
    </div>
  </div>
</section>