<div id="successMsg" *ngIf="successMsg">
    Registration done successfully
</div>
<div class="container-fluid">
    <div id="bg">
        <img src="../../assets/bg/bg.jpg" alt="">

    </div>
    <div id="loginSection">
        <div class="row">
            <div class="col-md-3 col-xl-3  col-sm-5 my-auto" id="loginCol">
                <div id="logo">
                    <img src="../../assets/bg/logo.png" alt="">
                </div>
                <div style="text-align: center; color: #d4272d; padding: 15px; font-weight: 700;"><span>REGISTRATION FORM</span></div>
                <div class="login-wrapper">

                    <!-- <h1 class="login-title"><span><a style="text-decoration: none; color: white;" routerLink="/signup">Sign
                                Up</a></span></h1> -->
                    <div *ngIf="invalidBoolean" style="color: red;
                    font-size: 14px;
                    text-align: center;
                    font-weight: 800;
                    /* background: #ce2222; */
                    height: 36px;
                    line-height: 15px;
                    border-radius: 3px;
                ">
                        {{invalidMessage}}
                        <h1 style="font-size: small; color: red;" class="login-title">{{invalidphone}}</h1>
                    </div>
                    <form [formGroup]="signupForm" (ngSubmit)="register()" style="position: relative;">
                        <div class="form-group">
                            <!-- <label for="name" style="color: white;">Name</label> -->
                            <input type="text" class="form-control" required autocomplete="off" formControlName="name"
                                placeholder="Full Name:">
                        </div>
                        <div class="form-group">
                            <!-- <label for="mobile" style="color: white;">Contact Number:</label> -->
                            <input type="text" class="form-control" required autocomplete="off"
                                (keypress)="allowNumber($event.target.value)" maxlength="10" formControlName="mobile"
                                placeholder="Contact Number:">
                        </div>
                        <div class="form-group">
                            <!-- <label for="email" style="color: white;">Email ID:</label> -->
                            <input type="email" class="form-control" required autocomplete="off" formControlName="email"
                                placeholder="Email ID:">
                        </div>
                        <div class="form-group">
                            <!-- <label for="company" style="color: white;">Company Name</label> -->
                            <!-- <input type="text" class="form-control" required
                                autocomplete="off" formControlName="company_name" placeholder="Enter your company"> -->
                            <select name="cars" id="cars" class="form-control" required formControlName="company_name"
                                placeholder="Enter your company">
                                <option disabled selected value="">Year of Graduation</option>

                                <option value="1950">1950</option>
                                <option value="1951">1951</option>
                                <option value="1952">1952</option>
                                <option value="1953">1953</option>
                                <option value="1954">1954</option>
                                <option value="1955">1955</option>
                                <option value="1956">1956</option>
                                <option value="1957">1957</option>
                                <option value="1958">1958</option>
                                <option value="1959">1959</option>
                                
                                <option value="1960">1960</option>
                                <option value="1961">1961</option>
                                <option value="1962">1962</option>
                                <option value="1963">1963</option>
                                <option value="1964">1964</option>
                                <option value="1965">1965</option>
                                <option value="1966">1966</option>
                                <option value="1967">1967</option>
                                <option value="1968">1968</option>
                                <option value="1969">1969</option>

                                <option value="1970">1970</option>
                                <option value="1971">1971</option>
                                <option value="1972">1972</option>
                                <option value="1973">1973</option>
                                <option value="1974">1974</option>
                                <option value="1975">1975</option>
                                <option value="1976">1976</option>
                                <option value="1977">1977</option>
                                <option value="1978">1978</option>
                                <option value="1979">1979</option>

                                <option value="1980">1980</option>
                                <option value="1981">1981</option>
                                <option value="1982">1982</option>
                                <option value="1983">1983</option>
                                <option value="1984">1984</option>
                                <option value="1985">1985</option>
                                <option value="1986">1986</option>
                                <option value="1987">1987</option>
                                <option value="1988">1988</option>
                                <option value="1989">1989</option>

                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>

                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <!-- <label for="designation" style="color: white;">Designation</label> -->
                            <!-- <input type="text" class="form-control"
                                required autocomplete="off" formControlName="category" placeholder="Enter your designation"> -->
                            <select name="cars" placeholder="Enter your designation" id="cars" required
                                class="form-control" formControlName="category">
                                <option disabled selected value="">House Name</option>

                                <option value="Surya">Surya</option>
                                <option value="Indra">Indra</option>
                                <option value="Varuna">Varuna</option>
                                <option value="Soma">Soma</option>
                            </select>
                        </div>



                        <!-- <div class="form-group">
                            <label for="pass" style="color: white;">Password</label>
                            <input style="background-color: lightgray;" type="password" class="form-control" required
                                autocomplete="off" formControlName="password" placeholder="Enter your password">
                        </div> -->

                        <!-- <div class="form-group mt-2">
                            <div class="btn-group dropdown w-100">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" >
                                    {{changeCategory}}
                                </button>
                                <div class="dropdown-menu w-100">
                                    <a class="dropdown-item" style="cursor:pointer" type="button" *ngFor="let val of ['OEM', 'IPOs', 'Tier1/2', 'Media']" (click)="updateCategory(val)">{{val}}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" style="cursor:pointer" type="button" (click)="updateCategory('others')">Others</a>
                                    <div *ngIf="othersCategory" style="padding:5px">
                                            <input style="background-color: lightgray;" type="text" class="form-control" required
                                            autocomplete="off" formControlName="category" placeholder="Enter your Category">
                
                                    </div>
                                </div>
                            </div> -->

                        <!-- <label for="category" style="color: white;" id="category">
                                    <button class="btn btn-success" (click)="showCategory()" type="button">Category</button> 
                                </label>
                            <div id="categoryRadio">
                                <div id="categoryValues" *ngFor="let val of ['OEM', 'IPOs', 'Tier1/2', 'Media', 'Others']">
                                    <input type="radio" name="category" formControlName="category" [value]="val"
                                        (change)="getvalue(val)">&nbsp; {{val}}
                                    <span class="checkmark"></span>
                                </div>
                            </div> -->
                        <!-- <input type="category" style="background-color: lightgray;" class="form-control" required
                                    autocomplete="off" formControlName="category" placeholder="Enter your category"> -->
                        <!-- </div> -->
                        <!-- <div class="form-group mb-2">
                            <label for="interests" style="color: white;">Area of Interest</label>
                            <input type="text" style="background-color: lightgray;" class="form-control" required
                                autocomplete="off" formControlName="interests" placeholder="Enter your Area of Interest">
                        </div> -->

                        <input name="login" id="login" class="btn btn-block login-btn" type="submit"
                            value="Register Now">
                    </form>

                </div>
            </div>
            <div class="col-md-9 col-xl-9  col-sm-6">

            </div>

        </div>
    </div>
</div>