<div class="grid-container">
  <div class="menu-icon">
   <i class="fas fa-bars header__menu"></i>
 </div>
  
 <header class="header">
   <div class="header__search pl-3">
     <!-- <img src="http://35.154.240.36/virtual_event/assets/images/logo.png" alt="" height="30px" > -->
  </div>
   <div class="header__avatar" (click)="logoutexhibitor();"><h6><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</h6></div>
    
 </header>

 <aside class="sidenav">
   <div class="sidenav__close-icon">
     <i class="fas fa-times sidenav__brand-close"></i>
   </div>
   <ul class="sidenav__list mt-3" style="color: #308ee0;">
    <img src="../../../assets/img/profile.svg" alt="profile" style="width:20%;">
    <h5 class="mt-3">{{salesPerson.title}}</h5>
    <!-- <p class="title">{{salesPerson.email}}</p>
    <p>{{salesPerson.contact}}</p> -->
    <!-- <p id="7">7</p> -->
   </ul>
<br><br>
    <!-- <li class="sidenav__list-item">Video</li>
     <li class="sidenav__list-item">Brochure</li>
     <li class="sidenav__list-item">Product List</li> -->
     <!-- <li class="sidenav__list-item">Item Four</li>
     <li class="sidenav__list-item">Item Five</li> -->
     <ul class="nav nav-tabs tabs-left sideways" style="color: #308ee0;">
      <li class="active sidenav__list-item"><a href="#brochure-v" data-toggle="tab">Brochure</a></li>
      <!-- <li class="active sidenav__list-item"><a href="#document-v" data-toggle="tab">Document List</a></li>
      <li class="sidenav__list-item"><a href="#product-v" data-toggle="tab">Product List</a></li> -->
      <!-- <li class="sidenav__list-item"><a href="#sales-v" data-toggle="tab">Sales Person</a></li> -->
      <li class="sidenav__list-item"><a href="#card-v" data-toggle="tab">Card Drop</a></li>
      <li class="sidenav__list-item"><a href="#video-v" data-toggle="tab">Video</a></li>
      <li class="sidenav__list-item"><a href="#call-v" data-toggle="tab">Scheduled Meetings</a></li>
      <li class="sidenav__list-item"><a href="#chat-v" data-toggle="tab">Live Chat</a></li>
      <li class="sidenav__list-item"><button class="visit-btn" href="#stall-v" data-toggle="tab" value="exhibition_{{exID}}" (click)="changestalls($event.target.value)">Visitors at my stall</button></li>

    </ul>

 </aside>

 <main class="main">
   
  <div class="tab-content">
    <div class="tab-pane active" id="brochure-v">
      <!-- <div class="main-cards">
        <div class="card"><video src="{{video}}" width="100%" autoplay loop></video>
        </div>
        </div> -->
        <table>
          <tr>
            <th><h4>Brochure List</h4></th>
            <th></th>
            
            <th><button type="button" class="btn btn-success float-right slidebarBtn" data-toggle="modal" data-target="#myBrochure">Add</button></th>
          </tr>
          <tr>
            <th>Title</th>
            <th>URL</th>
            <!-- <th>Created</th> -->
            <th>Action</th>
          </tr>
          <tr *ngFor="let brochure of brochures">
            <td>{{brochure.title}}</td>
            <td><a target="_blank" href="{{brochure.url}}">Open Link</a></td>
            <!-- <td>Germany</td> -->
            <td><a href="{{brochure.url}}" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
              <!-- <i class="fa fa-trash"></i> -->
            </td>
          </tr>
        </table>
    </div>
    <div class="tab-pane" id="document-v">
      <table>
        <tr>
          <th><h4>Document List</h4></th>
          <th></th>
            <th><button type="button" class="btn btn-success float-right slidebarBtn" data-toggle="modal" data-target="#myDocument">Add</button></th>
        </tr>
        <tr>
          <th>Title</th>
          <th>Image</th>
          <!-- <th>Created</th> -->
          <th>Action</th>
        </tr>
        <tr *ngFor="let doc of documents">
          <td>{{doc.title}}</td>
          <td><img src="../../../assets/img/pdf.png" alt="" width="50px"></td>
          <!-- <td>Aug 26, 2020 15:14:50</td> -->
          <td><a href="{{doc.document}}" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
            <!-- <i class="fa fa-trash"></i> -->
          </td>
        </tr>
      </table>
      <!-- <div class="card"><iframe [src]="documented" style="height: 500px;"></iframe>
      </div> -->
    </div>
    <div class="tab-pane" id="product-v">
      <table>
        <tr>
          <th><h4>Product List</h4></th>
          <th></th>
            <!-- <th><button type="button" class="btn btn-success float-right slidebarBtn" data-toggle="modal" data-target="#myProduct">Add</button></th> -->
        </tr>
        <tr>
          <th>Title</th>
          <th>Image</th>
          <!-- <th>Created</th> -->
          <th>Action</th>
        </tr>
        <tr *ngFor="let product of products">
          <td>{{product.title}}</td>
          <td><img src="../../../assets/img/pdf.png" alt="" width="50px"></td>
          <!-- <td>Aug 26, 2020 15:14:50</td> -->
          <td><a href="{{product.url}}" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
            <i class="fa fa-trash"></i>
          </td>
        </tr>
      </table>
      <!-- <div class="card"><iframe [src]="documented" style="height: 500px;"></iframe>
      </div> -->
    </div>
    <div class="tab-pane" id="sales-v"><table>
      <tr>
        <th><h4>Sales Person</h4></th>
        <th></th>
        <!-- <th></th> -->
            <th><button type="button" class="btn btn-success float-right slidebarBtn" data-toggle="modal" data-target="#mySales">Add</button></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <!-- <th>Action</th> -->
      </tr>
      <tr *ngFor="let guy of salesGuy">
        <td>{{guy.name}}</td>
        <td>{{guy.email}}</td>
        <td>{{guy.contact}}</td>
        <!-- <td><i class="fa fa-file-pdf-o"></i>
          <i class="fa fa-trash"></i>
        </td> -->
      </tr>
      
    </table></div>
    <div class="tab-pane" id="card-v">
      <table id="excel-card">
        <tr>
          <th><h4>Card Drop</h4></th>
          <th></th>
          <th></th>
          <th></th>
          <!-- <th></th> -->
          <th><a style="cursor: pointer;" (click)="exportexcel2()" ><img class="float-right" src="../../../assets/img/excel.png" alt="" width="40px"></a></th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Company</th>
          <th>Designation</th>
          <th>Phone</th>
        </tr>
        <tr *ngFor="let card of cards">
          <td>{{card.event_id}}</td>
          <td>{{card.user_id}}</td>
          <td>{{card.company}}</td>
          <td>{{card.designation}}</td>
          <td>{{card.mobile}}</td>
          <!-- <td>Germany</td> -->
          <!-- <td><i class="fa fa-file-pdf-o"></i>
            <i class="fa fa-trash"></i>
          </td> -->
        </tr>
      </table>
    </div>
    <div class="tab-pane" id="video-v">
      <table>
        <tr>
          <th><h4>Video</h4></th>
          <!-- <th></th> -->
          <th></th>
            <!-- <th><button type="button" class="btn btn-success float-right slidebarBtn " data-toggle="modal" data-target="#myVideo">Add</button></th> -->
        </tr>
        <tr>
          <th>Video</th>
          <th></th>
          <th></th>

          <!-- <th>Created</th> -->
          <!-- <th>Action</th> -->
        </tr>
        <tr *ngFor="let vide of videos">
          <td><video src="{{vide.video}}" width="100%" controls></video></td>
          <td></td>
          <td></td>

          <!-- <td>Germany</td> -->
          <!-- <td><i class="fa fa-file-pdf-o"></i>
            <i class="fa fa-trash"></i>
          </td> -->
        </tr>
      </table>
    </div>

    <div class="tab-pane" id="call-v">
      <table>
        <tr>
          <th><h4>Scheduled Meetings</h4></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <!-- <th><a href='../../../assets/img/sample.xls'><img class="float-right" src="../../../assets/img/excel.png" alt="" width="40px"></a></th> -->
            <!-- <th><button type="button" class="btn btn-success float-right slidebarBtn " data-toggle="modal" data-target="#myVideo">Add</button></th> -->
        </tr>
        <tr>
          <th>Name</th>
          <!-- <th>Created</th> -->
          <th>Email</th>
          <th>Time</th>

          <th>Join Call</th>
          <th>Reject Call</th>
        </tr>
        <tr *ngFor="let call of calls">
          <!-- <td>{{call.id}}</td> -->
          <td>{{call.name}}</td>
          <td>{{call.email}}</td>
          <td>{{call.time}}</td>
          <td><a *ngIf="call.status == 1;else other_content4" href="{{call.channel}}" target="_blank">Join Call</a>
          <ng-template #other_content4> <a style="cursor: not-allowed; margin-left:20px;color: crimson; font-size: small;">Canceled Call</a></ng-template></td>

          <!-- <td>Germany</td> -->
          <!-- <td><i class="fa fa-file-pdf-o"></i>
            <i class="fa fa-trash"></i>
          </td> -->
          <td><a *ngIf="call.status == 1;else other_content3" style="color: blue; cursor: pointer;" (click)="delVideo(call.ec_id,call.email,call.time)">Cancel</a>
          <ng-template #other_content3> <a style="cursor: not-allowed; margin-left:20px;color: crimson; font-size: small;">Canceled</a></ng-template></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane" id="chat-v">
      <table id="excel-chat">
        <tr>
          <th><h4>Chat Meeting</h4></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <!-- <th><a style="cursor: pointer;" (click)="exportexcel3()"><img class="float-right" src="../../../assets/img/excel.png" alt="" width="40px"></a></th> -->
        </tr>
        <tr>
          <!-- <th>Id</th> -->
          <th>Name</th>
          <!-- <th>Created</th> -->
          <th>Email</th>
          <th>Company</th>
          <th>Designation</th>
          <!-- <th>Answer</th> -->
          <th>Action</th>
        </tr>
        <tr *ngFor="let call of chatPerson" >
          <!-- <td>{{call.id}}</td> -->
          <td>{{call.name}}</td>
          <td>{{call.email}}</td>
          <td>{{call.company}}</td>
          <td>{{call.designation}}</td>
          <!-- <td></td> -->
          <!-- <td><a href="" data-toggle="modal" data-target="#chatpersonal" (click)="chatget(call.id)">Chat</a></td> -->

          <td *ngIf="call.flag == 1;else other_content2">
            <a href="" data-toggle="modal" data-target="#chatpersonal" (click)="chatget(call.id)" style="color: crimson;font-weight: 700;">Chat</a>
            </td>

          <ng-template #other_content2><a href="" data-toggle="modal" data-target="#chatpersonal" (click)="chatget(call.id)" style="color: #308ee0; font-weight: 700; font-size: small; margin-left: 20px;">Chat</a></ng-template>
          <!-- <td>Germany</td> -->
          <!-- <td><i class="fa fa-file-pdf-o"></i>
            <i class="fa fa-trash"></i>
          </td> -->
        </tr>
      </table>
    </div>
    <div class="tab-pane" id="stall-v">
      <table id="excel-visitor" data-toggle="table"
      data-height="460"
      data-pagination="true"
      data-pagination-loop="false">
        <tr>
          <th><h4>Visitors at my stall 
          </h4></th>
          <th></th>
          <th></th>
          <!-- <th></th> -->
          <th>
            <label for="cars" style="margin-right:20px;margin-top:20px;">Filters</label>
            <select name="stall" id="stalls" (change)="changestalls($event.target.value)">
              <option value="exhibition_{{exID}}">Stall</option>
              <option value="Brouchers_list_{{exID}}">Brochure</option>
              <option value="Product_list_{{exID}}">Products</option>
              <option value="Card_drop_{{exID}}">Card Drop</option>
              <option value="Schedule_meeting_{{exID}}">Schedule Call</option>
            </select>
            <br><br>
          </th>
          <th><a style="cursor: pointer;" (click)="exportexcel()"><img class="float-right" src="../../../assets/img/excel.png" alt="" width="40px"></a></th>
            <!-- <th><button type="button" class="btn btn-success float-right slidebarBtn" data-toggle="modal" data-target="#myCard">Add</button></th> -->
        </tr>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Designation</th>
          <th>Company</th>
          <th>Time</th>
        </tr>
        <tr *ngFor="let card of getAnal">
          <td>{{card.name}}</td>
          <td>{{card.email}}</td>
          <td>{{card.designation}}</td>
          <td>{{card.company}}</td>
          <td>{{card.created}}</td>
          <!-- <td><i class="fa fa-file-pdf-o"></i>
            <i class="fa fa-trash"></i>
          </td> -->
        </tr>
      </table>
    </div>
  </div>

   <!-- <div class="main-cards">
    <div class="card"><video src="{{video}}" width="100%" autoplay loop></video>
    </div>
     <div class="card">
  </div>
  <div class="card"><iframe [src]="documented" style="height: 500px;"></iframe>
 </div>
   </div> -->
 </main>

 <footer class="footer">
   <div class="footer__copyright"></div>
   <div class="footer__signature"></div>
 </footer>
</div>

<!-- video modal -->

<div class="modal fade" id="myVideo" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Video Form</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="">
        <input type="text"><br>
        <input type="text"><br>
        <button>Submit</button>
      </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
    
  </div>
</div>

<!-- brochure modal -->

<div class="modal fade" id="myBrochure" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Brochure Form</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="postBrochure" #formDir="ngForm" (ngSubmit)="brochurepost()">
        <input formControlName='brochure_name' placeholder="Enter Your Title" type="text" style="width: 100%; height: 38px;
        border-radius: 0;">
        <!-- <input formControlName='brochure_file' type="file" style="width: 80%; height: 38px;
        border-radius: 0;"> -->
        <!-- <input type="file" id="file" />
         -->
        <input formControlName='brochure_file' id="file" type="file" name="myfile" (change)="handleBrochureInput($event.target.files)">
        <label for="file" class="btn-3">
          <span>Select File</span>
        </label><br>
        <div class="text-center">
          <input class="text-center btn btn btn-success login-btn" type="submit" value="Submit">
        </div>
      </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
    
  </div>
</div>

<!-- product modal -->

<div class="modal fade" id="myDocument" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Product List Form</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="postdoc" #formDir="ngForm" (ngSubmit)="docpost()">
        <input formControlName='title' type="text"><br>
        <input formControlName='file' type="file" name="myfile" (change)="handleFileInput($event.target.files)"><br><br>
        <input class="btn btn btn-success login-btn" type="submit" value="Submit">
      </form>
      </div>
    </div>
  </div>
</div>

<!-- sales modal -->

<div class="modal fade" id="mySales" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sales Form</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="">
        <input type="text"><br>
        <input type="text"><br>
        <button>Submit</button>
      </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<!-- card drop modal -->

<div class="modal fade" id="myCard" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Card Drop Form</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="">
        <input type="text"><br>
        <input type="text"><br>
        <button>Submit</button>
      </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<!-- call modal -->


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6>Live Chat</h6>
                  <a class="close" (click)="closePopup()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                  <h6 style="text-align: center; padding-top: 5px; color: green; font-weight: 800;" *ngIf="msg">{{msg}}</h6>
                  <div class="row pt-2">
                    <div class="col-md-12 col-xl-12 pl-0">
                      <div class="chat_box">
                        <ul class="chat_message" id="chat_messaged">
                          <li class="chat_messageList" *ngFor="let qa of qaList">
                            <div class="img_avatar"> <img src="../assets/img/default_avatar.png" alt=""></div>
                            <p>
                              <span class="person">
                                <a href="javascript:void(0);" class="checkProfile">{{qa.question}}</a>
                              </span>
                              <!-- <span class="time">{{chat.created | date: 'medium'}}</span> -->
                            </p>
                            <!-- <div class="img_avatar"> <img src="../../../assets/img/default_avatar.png" alt=""></div> -->
                            <div class="text_message"> <img src="../assets/img/customer_support.png" *ngIf="qa.answer" alt="" height="25px" width="20px"> &nbsp; &nbsp;{{qa.answer}}</div>
                          </li>
                        </ul>
                      </div>
                      <div class="message_input">
                          <textarea name="message" autocomplete="off" placeholder="Enter your question" [formControl]="textMessage"
                            maxlength="200" type="text" id="query" value=""></textarea>
                        </div>
                        <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;" >Submit</button>
                    </div>
                    <!-- <div class="col-md-1 col-xl-1">
                      <div class="online_chat"></div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
  </div>
</div>

<div class="modal fade" id="chatpersonal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" (click)="closePopup()" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        
            <form [formGroup]="postreply" #formDir="ngForm" (ngSubmit)="docreply()" action="" id="myDIV" style="display: none;">
              <input formControlName='answer' type="text" style="width: 88%; height: 38px;border-radius: 0px;">
              <input formControlName='question_id' type="hidden" name="question_id" id="question_id" value="">
              <input name="login" id="login" class="float-right btn btn btn-success login-btn" type="submit" value="SUBMIT">
              <!-- <button class="btn btn-success float-right">Submit</button> -->
            </form>
          
        
      <table id="chat-excel">
        <tr><th></th><th></th><th><a style="cursor: pointer;" (click)="exportexcel4()"><img class="float-right" src="../../../assets/img/excel.png" alt="" width="40px"></a></th></tr>
        <tr><th>Visitors Message</th><th>Your Reply</th><th>Action</th></tr>
        <tr *ngFor="let chhat of chatGuy; let i = index">
          <td>{{chhat.question}}</td>
          <td [innerHTML]="chhat.answer"></td>
          <td *ngIf="chhat.answer != '' && i != 0;else other_content">
            <a style="cursor: pointer; color: #ec8f58;font-weight: 600;">Replied</a>
            </td>

          <ng-template #other_content><a style="cursor: pointer;color: #308ee0;font-size: small;margin-left: 20px;font-weight: 600;" (click)="showhide(chhat.id)">Reply</a></ng-template>
        </tr>
      </table>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>