

  .bg {
    //background-image: url(../../../../assets/img/Exhibition/arise.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;
  
    // position: relative;
  }
  @keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
  }
  section{
    position: relative; 
    height: 100%;
    width: 100%;
    #content{
      position: relative;
      #content_wrap{
        position: relative;
        #bg{
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          #bgImg{
            width: calc(100vw - 140px);
            height: 100vh;
            margin-left: 70px;
          }  
           #setting{
               position: absolute;
               top: 0;
               left: 0;
               width: calc(100vw - 140px);
                height: 100vh;
                margin-left: 70px;
               #title{
                position: absolute;
                top:7%;
                left:18%;
                img{
                 width: calc((100vw - 140px)*.16);
                 height: 7.5vh;
                }
                }                
                #text{
                    position: absolute;
                    user-select: none;
                    top: 7%;
                    left: 41%;
                    width: 20.2vw;
                    height: 7vh;
                    // vertical-align: middle;
                    // line-height: 7vh;
                    overflow: hidden;
                    p{
                        color: #6059e4;
                        font-weight: 600;
                        font-size: 1vw;
                        margin-bottom: 0;
                        position: absolute;
                        top: 15%;
                    }
                }
                #creatve1{
                    position: absolute;
                    top: 44%;
                    left: 16%;
                    img{
                        height: 31vh;
                        width: 8.5vw;
                    }
                }
                .creatve2 {
                  position: absolute;
                  top: 28%;
                  left: 3.1%; 
                  img{
                    height: 11.5vh;
                    width: calc((100vw - 140px)*.51);
                  }      
                
                }
                .creatve3 {
                  position: absolute;
                  top: 38%;
                  left: 77.9%;
                  cursor: pointer; 
                  img{
                    height: 32vh;
                    width: 8.5vw;
                  }
                }
                .creatve4 {
                  position: absolute;
                  top: 56%;
                   left: 54.4%;
                  cursor: pointer; 
                  img{
                    height: 19vh;
                    width: 21vw;
                  }
                }
                .video_meeting {
                    position: absolute;
                    top: 66%;
                    left: 25.3%;
                    cursor: pointer;
                    height: 5vh;
                    width: 5vw;
                    // background: black;
                    .pulsating-circle{
                    position: absolute;
                    top: 23%;
                    left: 20%;
                  }
                  }
                  .live_chat {
                    position: absolute;
                    top: 65%;
                    left: 39%;
                    cursor: pointer;
                    // background: black;
                    height: 9vh;
                    width: 6vw;       
                  .pulsating-circle{
                    position: absolute;
                    top: 23%;
                    left: 25%;
                    cursor: pointer;
                  }
                  }
                  .connectUs {
                    position: absolute;
                    top: 65%;
                    left: 46%;
                    cursor: pointer;
                    // background: black;
                    height: 6vh;
                    width: 4vw;       
                  .pulsating-circle{
                    position: absolute;
                    top: 70%;
                    left: 50%;
                    cursor: pointer;
                  }
                  }
           }  
        }
      }
    }
  }

  @media only screen and(max-width: 768px) {
    #bg{
        #bgImg{
          width: calc(100vw - 100px) !important;
          margin-left: 50px !important;
        }
        #setting{
            width: calc(100vw - 100px) !important;
            margin-left: 50px !important;
            #title{
                position: absolute;
                top:7%;
                left:23%;
                img{
                 width: calc((100vw - 100px)*.16)!important;
                }
            }
            .creative2{
                img{
                    width: calc((100vw - 100px)*.51) !important;
                }
            }
        }
     
      }
  } 
  #popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
         // width: 46px;
          img{
            padding-right: 10px;
            // width: 28px;
            height: 22px;
          //  border-radius: 50px;
          }
        }
        span{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  .profile-card {
    border-radius: 4px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.18);
    display: block;
    padding: 20px 0px 0px;
    margin-bottom: 20px;
  }
  .profile-card figure {
    margin: 0px auto;
    background: #292F35;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
  }
  .profile-card figure i {
    font-size: 32px;
    color: #fff;
    vertical-align: middle;
  }
  
  .profile-card table i {
    font-size: 22px;
      margin-right: 17px;
  }
  
  .profile-card h3 {
    font-size: 18px;
    text-align: center;
    color: #000;
    margin: 20px auto;
    text-transform: uppercase;
    font-family: var(--head-font);
    font-weight: 700;
  }
  
  .download_card{
    background: #000;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color:white !important;
  cursor: pointer;
  }
  .product_list {
    position: absolute;
    top: 62%;
    left: 86%;
    cursor: pointer;
    // background: black;
    height: 6vh;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 70%;
    left: 50%;
    cursor: pointer;
  }
  }
  .broucher {
    position: absolute;
    top: 73%;
    right: 10%;
    cursor: pointer;
    // background: black;
    height: 6vh;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 81%;
    left: 50%;
    cursor: pointer;
  }
  }
  .card_drop {
    position: absolute;
    top: 65%;
    left: 6%;
    cursor: pointer;
    // background: black;
    height: 6vh;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 81%;
    left: 50%;
    cursor: pointer;
  }
  }
  .left_graphic {
    position: absolute;
    top: 58%;
    left: 19%;
    cursor: pointer;
    // background: black;
    height: 6vw;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
  }
  }
  .logo1{
    position: absolute;
    top: 8%;
    left: 19%;
    height: 6vh;
    width: 25vw;  
  }
  .title {
    position: absolute;
    top: 9.5%;
    left: 39%;
    font-weight: bold;
   // cursor: pointer;
    // background: black;
    height: 6vh;
    width: 30vw;       
  
  }
  .creatve1 {
    position: absolute;
    top: 44%;
    left: 16%;
    cursor: pointer;
    // background: black;
    height: 10vh;
    width: 20vw;       
  
  }
  .logo2 {
    position: absolute;
    top: 71%;
      left: 46%;
    cursor: pointer;
    // background: black;
    height: 6vh;
    width: 25vw; 
  }
  .third_graphic {
    position: absolute;
    top: 52%;
    left: 81%;
    cursor: pointer;
    // background: black;
    height: 6vw;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
  }
  }
  .left_url {
    position: absolute;
    top: 30%;
    left: 31.5%;
    cursor: pointer;
    // background: black;
    height: 6vw;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
  }
  }
  .right_graphic {
    position: absolute;
    top: 29%;
    left: 31%;
    cursor: pointer;
    height: 6vw;
    width: 10vw;      
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  }
  .right_url {
    position: absolute;
    top: 12%;
    right: 48%;
    cursor: pointer;
    // background: black;
    height: 6vw;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
  }
  }
  .calendar-part {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .time-part {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .time-part .time-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
  }
  .time-part .time-list li {
    margin: 5px 10px;
    text-align: center;
    min-width: 150px;
    line-height: 35px;
  }
  .time-part .time-list li a {
    color: #333;
    padding: 0px 30px;
    font-size: 14px;
    display: block;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    transition: all .3s linear;
  }
  .time-part .time-list li  a:hover {
    text-decoration: none;
    outline: none;
    background: #000000c9;
    color:white;
  }
  .btn-disabled,
  .btn-disabled[disabled] {
    opacity: .4;
    cursor: default !important;
    pointer-events: none;
  }
  .confirm-btn {
    display: table;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 30px auto 15px;
    color: #fff;
    outline: none;
    border: 0;
    transition: all 300ms linear;
  }
  .active {
    background: rgba(0, 0, 0, 0.7) !important;
  border: 1px solid rgba(0, 0, 0, 0.7) !important;
  color: #fff !important;
  }
  #players{
    position: absolute;
    top: 32%;
    right: 25%;
    height: 23vh;
    width: 17vw;
    cursor: pointer;
    .one, .two,.three,.four{
        // background: black;  
        position: absolute;
        top: 0;
        height: 13vh;
        width: 13.2vw; 
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            color:#ff0000;
            transform: translate(-50%, -50%);
            font-size: 24px;
            cursor: pointer;
        }
    }
    .one{
        left: 70%;
      top: 3%;
  cursor: pointer;
    }
    .two{
      left: 33%;
    top: -20%;
  
  }
  .three{
    left: 33%;
  top:81%;
  
  }
  .four{
    left: 59%;
  top: -20%;
  
  }
   
  }
  #socialicons{
    position: absolute;
      top: 35%;
      right: 0%;
      height: 5vh;
      width: 5vw;
      img{
        width: 50px;
      }
  }
  @media only screen and (max-width: 800px) {
    #socialicons {
      position: absolute;
      top: 28%;
      right: 0%;
      height: 5vh;
      width: 7vw;
    }
    img{
      width: 40px;
    }
  }
  
  
  
  #modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
  }
  
  #image_profile {
    img {
        float: left;
        border-radius: 50%;
    }
    #profile_detail {
        padding: 5px;
        margin-left: 55px;
  
        #profile_name {
            font-weight: 600;
        }
    }
  }
  .profileImage {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: cadetblue;
    font-size: 14px;
    color: #fff;
    text-align: center;
    float: right;
    font-weight: bold;
    margin-top: -22px;
    padding: 10px;
  }
  .profileImage1 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #28a745;
    font-size: 14px;
    color: #fff;
    text-align: center;
    float: left;
    font-weight: bold;
    //margin-top: -22px;
    padding: 10px;
  }
  .bord:nth-child(even) {
    border-left: 5px solid cadetblue;
  }
  
  .bord:nth-child(odd) {
    border-left: 5px solid black;
  }
  #profile_details {
    padding: 0px;
    margin-left: 115px;
  
    #profile_name {
        font-weight: 600;
    }
  }
  #profile_detail1 {
    padding: 5px;
    margin-left: 55px;
  
    #profile_name {
        font-weight: 600;
    }
  }
  .adapt{
    // background-color: orange;
    padding-left: 10px;
    padding-right: 10px;
    // color: white;
    border: 1px solid #000;
    border-radius: 5px;
  font-weight: 700;
  line-height: 30px;
    position: absolute; top: 0; z-index: 99999; left: 45%;cursor: pointer;
    transform: rotateX(45deg);

  }