<span id="back">
  <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
      BACK</a>
</span>
<section>
    <div id="content">
      <div id="content_wrap">
        <div id="bg" style="background-color: black;">
          <img src="assets/reinvest/images/library.jpg" alt="">
        </div>
        <div id="a1">
          <div class="one" [routerLink]="['/speakers']" (click)="goPhotoPoints()">
          </div>
        </div>
        <div id="a2">
          <div class="two" [routerLink]="['/video-gallery']">
          </div>
        </div>
        <div id="a3">
          <div class="three" [routerLink]="['/documents']" (click)="goDownloadPoints()">
          </div>
        </div>
        <div id="join">
          <a href="https://exraists.com/" target="_blank"><div class="four">
          </div></a>
        </div>
        <div id="join2">
          <a href="https://bit.ly/2YhEr3d" target="_blank"><div class="four">
          </div></a>
        </div>
        <div id="join3">
          <a href="https://bit.ly/3el05t1" target="_blank"><div class="four">
          </div></a>
        </div>
        <div id="join4">
          <a href="https://apple.co/3hMVNNi" target="_blank"><div class="four">
          </div></a>
        </div>
        <div id="join5">
          <a href="https://bit.ly/2BmcTAS" target="_blank"><div class="four">
          </div></a>
        </div>
      </div>
    </div>
  </section>