#back{
  position: absolute;
  top: 10px;
  left: 75px;
  background: #141433;
  color: white;
  z-index: 100;
  font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  border: 1px solid #060a39;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 0px;
  a{
      text-transform: capitalize;
      color: white;
  }
}
.table__head{
    color: #FFF;
    font-weight: 700;
    background: #f58438;
    // background: -moz-linear-gradient(-45deg, #9b4085 0%, #608590 100%);
    // background: -webkit-linear-gradient(-45deg, #9b4085 0%,#608590 100%);
    // background: linear-gradient(135deg, #9b4085 0%,#608590 100%);
    white-space: nowrap;
    }
    .table-bordered td, .table-bordered th{
    border: 0px solid #FFF;
    }
    .coin {
    width:8%;
    margin-left: 5px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    
    .winner__table{
        white-space: nowrap;
        text-align: center;
    }
    td{
      text-align: left !important;
    }
    th{
      color: black;
    }
    @media screen and (max-width: 567px) {
    
        .winner__table{
        font-size: 12px;
        }
        .coin {
        width:15%;
        margin-left:2px;
        }
    }
  
    section{
      position: relative; 
      height: 100%;
      width: 100%;
      #clap{
        position: absolute;
        top: 19%; 
        right: 1%;
        z-index: 1000;
      }
      #content{
        position: relative;
        #content_wrap{
          position: relative;
          #bg{
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            img{
              width: calc(100% - 140px);
              height: 100vh;
              margin-left: 70px;
            }
          }
          #player_sec{
            position: absolute;  
            top: 30%;  
            left: 36.3%; 
            vg-player{
              width: 27.2vw;
              height: 30vh;
            }
          }
        }
      }
    }
    #a1{
      position: absolute;
    top: 53%;
    height: 15vh;
    left: 21%;
    width: 14vw;
  }
  .one{
    cursor: pointer;
    height: 20vh;
    outline: -webkit-focus-ring-color auto 0px !important;
  }
  #a2{
    position: absolute;
    top: 53%;
    height: 15vh;
    left: 41%;
    width: 14vw;
  }
  .two{
  cursor: pointer;
  height: 20vh;
  outline: -webkit-focus-ring-color auto 0px !important;
  }
  #a3{
    position: absolute;
    top: 53%;
    height: 15vh;
    right: 29%;
    width: 10vw;
  }
  .three{
  cursor: pointer;
  height: 20vh;
  outline: -webkit-focus-ring-color auto 0px !important;
  }
  
  #join{
    position: absolute;
    bottom: -45px;
    height: 16vh;
    left: 9.5%;
    width: 15vw;
  }
  #join2{
    position: absolute;
    bottom: -45px;
    height: 16vh;
    left: 26.5%;
    width: 15vw;
  }
  #join3{
    position: absolute;
    bottom: -45px;
    height: 16vh;
    left: 42.5%;
    width: 15vw;
  }
  #join4{
    position: absolute;
    bottom: -45px;
    height: 16vh;
    left: 59.5%;
    width: 15vw;
  }
  #join5{
    position: absolute;
    bottom: -45px;
    height: 16vh;
    left: 75.5%;
    width: 15vw;
  }
  .four{
  cursor: pointer;
  height: 5vh;
  outline: -webkit-focus-ring-color auto 0px !important;
  }
  
  
  @media only screen and (max-width: 768px) {
    
    #bg{
        img{
            width: calc(100% - 100px) !important;
            margin-left: 50px !important;
        }
    }
  }