<span id="back">
  <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
      BACK</a>
</span>
<section>
  <div id="content">
    <div id="content_wrap">
      <div id="bg">
        <img src="assets/reinvest/images/stadium.jpg" alt="">
        <div id="player_sec">
          <vg-player>
              <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                  <vg-play-pause></vg-play-pause>
                  <vg-time-display></vg-time-display>
                  <vg-mute></vg-mute>
                  <vg-scrub-bar>
                      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                  </vg-scrub-bar>
                  <vg-fullscreen></vg-fullscreen>
                  <!-- <button class="btn btn-dark" [ngClass]="{'colors': isOrange}" style="    position: absolute;
                          right: 28%;
                          top: 23%;
                          padding: 2px;
                          color: #fff;"
                      (click)="changeStreamenglish()">English</button>
                  <button class="btn btn-dark" [ngClass]="{'colors': iscolor}" style="    position: absolute;
                          right: 39%;
                          top: 23%;
                          padding: 2px;
                          color: #fff;"
                      (click)="changeStream()">Hindi</button> -->


              </vg-controls>
              <vg-buffering></vg-buffering>
              <video #myMedia [vgMedia]="myMedia" preload="auto" poster="assets/poster/poster_22.jpeg" [vgHls]="videoPlayerTwo" autoplay="true"
                  vg-responsive="true" type="video/mp4">

              </video>
          </vg-player>
      </div>
      </div>
      <!-- <div id="a1">
        <div class="one" [routerLink]="['/agenda']">
        </div>
      </div>
      <div id="a2">
        <div class="two" [routerLink]="['/agenda-two']">
        </div>
      </div>
      <div id="a3">
        <div class="three" [routerLink]="['/agenda-three']">
        </div>
      </div>
      <div id="join">
        <div class="four" [routerLink]="['/auditorium/two']">
        </div>
      </div> -->
    </div>
  </div>
</section>
<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="../../../assets/reinvest/images/ticker.jpg" alt="" style="width: 1300px;" />
    </div>
    <div class="slide">
      <img src="../../../assets/reinvest/images/ticker.jpg" alt="" style="width: 1300px;" />
    </div>
  </div>
</div>