<div class="bgct">
    <div class="standing">
        <div id="bg">
            <img src="{{banner}}" alt="">
            <i class="fa fa-arrow-right" [routerLink]="['/exhibitionHall/gujrat']" aria-hidden="true"></i>
            <i class="fa fa-arrow-left" [routerLink]="['/exhibitionHall/tamlinadu']" aria-hidden="true"></i>
            <!-- <div class="video_meeting" title="Schedule a call" data-toggle="modal" data-target=".scheduleCallmodal">
                <div class="pulsating-circle"></div>
              </div> -->
              <div class="video_meeting" title="Click to play video" (click)="playShowVideo('https://virtualapi.multitvsolution.com/stateStall/MP/MP_Video.mp4')">
                <div class="pulsating-circle"></div>
              </div>
              <div class="live_chat" title="Chat with Exhibitor" data-toggle="modal" data-target=".liveQuestionModal">
                <div class="pulsating-circle"></div>
              </div>
              <div class="connectUs" data-toggle="modal" title="Connect with us" data-target=".salesModal">
                <div class="pulsating-circle"></div>
              </div>
              <!-- <div class="broucher" title="Broucher" data-toggle="modal" data-target=".docsModal">
                <div class="pulsating-circle"></div>
              </div> -->

          </div>
    </div>
  </div>
  <div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div id="modal-video">
            <div id="closePopup" (click)="closeModalVideo()">&times;</div>
            <video id="video" preload="auto" [src]="videoSource" width="100%" controls>
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- live chat modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="position: absolute; bottom: 0px; right: 85px;">
      <div class="modal-content">
        <!-- <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6>Live Chat</h6>
                  <a class="close" (click)="closeChat()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                  <div class="row pt-2">
                    <div class="col-md-12 col-xl-12 pl-0">
                      <div class="chat_box">
                        <ul class="chat_message" id="chat_messaged">
                          <li class="chat_messageList" *ngFor="let qa of qaList">
                            <div class="img_avatar"> <img src="../assets/img/default_avatar.png" alt=""></div>
  
                            <span class="person">
                              <a href="javascript:void(0);" style="font-size: 14px; font-weight: bold; color: #000;"
                                class="checkProfile">{{qa.question}}</a>
                            </span>
                            
                            <div class="text_message">
                              <table>
                                <td> <img src="../assets/img/customer_support.png" *ngIf="qa.answer" alt="" height="25px"
                                    width="20px"> &nbsp; &nbsp;</td>
                                <td>
                                  <p [innerHTML]="qa.answer"></p>
                                </td>
                              </table>
  
  
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="message_input">
                        <textarea name="message" autocomplete="off" placeholder="Enter your question" [formControl]="textMessage"
                          (keyup.enter)="postQuestion(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                      </div>
                      <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                        (click)="postQuestion(textMessage.value)">Submit</button>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="card" id="chatSection" *ngIf="isShow">
          <div class="p-3" style="font-weight: 500; background-color: #da251c; color: white;">Chat with Madhya Pradesh Stall
              <i class="fa fa-times float-right" style="cursor: pointer;" title="Minimize Chat" *ngIf="showchat" (click)="hidediv()"></i>
              <i class="fa fa-arrow-up float-right" *ngIf="hidechat" title="Maximize Chat" (click)="show()"></i>
            </div>
          <div class="row" *ngIf="showDiv">
              <div class="col-md-12 col-xl-12 col-sm-12">
                  <div style="max-height: 200px;  min-height: 200px; overflow:auto">
                      <div class="card p-2" *ngFor="let qa of qaList" style="border-left: 5px solid cadetblue; margin-bottom: 5px">
                          <div id="image_profile" style="padding: 1px 12px;
                    ">
                        <span class="profileImage1 card-body" *ngIf="myid != qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name | slice:0:1}}</span>
                        
                        <div *ngIf="myid != qa.sender_id" id="profile_details1">
                           <div>{{qa.msg}}</div>
                           </div>
                           <span class="profileImage card-body"  *ngIf="myid == qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name | slice:0:1}}</span>
                           <div *ngIf="myid == qa.sender_id" id="profile_detail">
                            <div>{{qa.msg}}</div>
                            </div>
                      </div>
                      </div>
                  </div>
                  <div class="pt-3 pb-3 pl-1 pr-1">
                      <input class="form-control" [(ngModel)]="msgs" maxlength="60" placeholder="Write something here.." [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)" /> <br>
                    <button class="btn btn-danger" (click)="postQuestion(textMessage.value)">Send</button>
                  </div>
              </div>
          </div>
        </div>
        
  
      </div>
    </div>
  </div>

  <!-- Sales-Info -->
<div class="modal fade salesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6 style="text-transform: uppercase;">Connect with us</h6>
                  <a class="close" (click)="closesales()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                  <div class="row pt-2">
  
                    <div class="col-md-6" *ngFor="let sales of salesPerson; let i = index">
                      <div class="profile-card">
                        <div #screen id="hello{{i}}">
                          <figure>
                            <i class="fa fa-user"></i>
                          </figure>
                          <h3>{{sales.name}}</h3>
                          <table class="table">
                            <tbody>
                              <tr>
                                <td><i class="fa fa-id-badge"></i>{{sales.position}}</td>
                              </tr>
                              <tr>
                                <td><i class="fa fa-envelope"></i>{{sales.email}}</td>
                              </tr>
                              <tr>
                                <td><i class="fa fa-mobile"></i>{{sales.contact}}</td>
                              </tr>
                              <!-- <tr>
                                  <td><i class="fa fa-trash"></i><a id="{{sales.id}}">{{sales.id}}</a></td>
                              </tr> -->
                            </tbody>
                          </table>
                        </div>
                        <a nhref="" class="download_card" (click)="download(i,sales.name)">
                          Download
                        </a>
  
                      </div>
                      <div id="download">
                        <img #canvas style="display: none;">
                        <a #downloadLink></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- schdeule a call -->
  <div class="modal fade scheduleCallmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6 style="text-transform: uppercase;">SCHEDULE A CALL</h6>
                  <a class="close" (click)="closeCall()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
  
  
  
  
                  <h4 style="padding-top: 12px;">Select a Date & Time</h4>
  
                  <div class="row pt-2">
  
                    <div class="col-md-6">
                      <div class="calendar-part">
                        <ngb-datepicker [minDate]="{year: 2020, month: 11, day: 1}" [maxDate]="{year: 2020, month: 11, day: 30}"
                          #dp [(ngModel)]="model" (navigate)="date = $event.next" (dateSelect)="onDateSelect($event)"></ngb-datepicker>
                      </div>
                      <!-- <pre>Model: {{ model | json }}</pre> -->
                    </div>
                    <div class="col-md-6" style="overflow-y: scroll;">
                      <div class="time-part">
  
                        <ul class="time-list mCustomScrollbar _mCS_4" id="list">
                          <div id="mCSB_4" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                            style="max-height: none;">
                            <div id="mCSB_4_container" class="mCSB_container" style="position:relative; top:0; left:0;"
                              dir="ltr">
  
                              <li *ngFor="let times of newTimeSlots">
                                <a *ngIf="times.flag =='enabled'" (click)="getTime($event,'active',times.time)" href="javascript:void(0);"
                                  class="time_a" data-val=times.time>{{times.time}}</a>
  
                                <!-- <a  href="javascript:void(0);" disabled="disabled"
                                class="time_a btn-disabled">{{times.time}}</a> -->
  
                                <a *ngIf="times.flag =='disabled'" disabled="disabled" href="javascript:void(0);" class="time_a btn-disabled"
                                  data-val=times.time>{{times.time}}</a>
                              </li>
                              <!-- <li id=""><a (click)="getTime($event,'active','10:00')" href="javascript:void(0);"
                                  class="time_a" data-val="10:00">10:00 am</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','10:30')" href="javascript:void(0);"
                                  class="time_a" data-val="10:30">10:30 am</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','11:00')" href="javascript:void(0);"
                                  class="time_a" data-val="11:00">11:00 am</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','11:30')" href="javascript:void(0);"
                                  class="time_a" data-val="11:30">11:30 am</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','12:00')" href="javascript:void(0);"
                                  class="time_a" data-val="12:00">12:00 pm</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','12:30')" href="javascript:void(0);"
                                  class="time_a" data-val="12:30">12:30 pm</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','01:00')" href="javascript:void(0);"
                                  class="time_a" data-val="13:00">01:00 pm</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','01:30')" href="javascript:void(0);"
                                  class="time_a" data-val="13:30">01:30 pm</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','02:00')" href="javascript:void(0);"
                                  class="time_a" data-val="14:00">02:00 pm</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','02:30')" href="javascript:void(0);"
                                  class="time_a" data-val="14:30">02:30 pm</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','03:00')" href="javascript:void(0);"
                                  class="time_a" data-val="15:00">03:00 pm</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','03:30')" href="javascript:void(0);"
                                  class="time_a" data-val="15:30">03:30 pm</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','04:00')" href="javascript:void(0);"
                                  class="time_a" data-val="16:00">04:00 pm</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','04:30')" href="javascript:void(0);"
                                  class="time_a" data-val="16:30">04:30 pm</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','05:00')" href="javascript:void(0);"
                                  class="time_a" data-val="17:00">05:00 pm</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','05:30')" href="javascript:void(0);"
                                  class="time_a" data-val="17:30">05:30 pm</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','06:00')" href="javascript:void(0);"
                                  class="time_a" data-val="18:00">06:00 pm</a></li>
  
                              <li id=""><a (click)="getTime($event,'active','06:30')" href="javascript:void(0);"
                                  class="time_a" data-val="18:30">06:30 pm</a></li> -->
  
                            </div>
                            <div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools mCSB_4_scrollbar mCS-light mCSB_scrollTools_vertical"
                              style="display: block;">
                              <div class="mCSB_draggerContainer">
                                <div id="mCSB_4_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 149px; max-height: 290px; top: 0px;">
                                  <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                              </div>
                            </div>
                          </div>
                        </ul>
  
                      </div>
                    </div>
                    <button class="confirm-btn" id="confirm_button" type="button" (click)="confirm()">Confirm</button>
                  </div>
  
  
  
  
  
  
  
                  <!-- <div class="col-md-1 col-xl-1">
                <div class="online_chat"></div>
              </div> -->
  
                </div>
              </div>
            </div>
          </div>
          <script>
            $('#datepicker').datepicker({
              uiLibrary: 'bootstrap4'
            });
          </script>
  
        </div>
      </div>
    </div>
  </div>