.bg {
    //background-image: url(../../../../assets/img/Exhibition/arise.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;
  
    // position: relative;
  }
  @keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
  }
  #bg{
    position: relative;
    width: 100%;
    height: 100%;
    img{
      width: 100vw;
      height: 105vh;
    }
  }
  
  
  #popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
         // width: 46px;
          img{
            padding-right: 10px;
            // width: 28px;
            height: 22px;
          //  border-radius: 50px;
          }
        }
        span{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  .profile-card {
    border-radius: 4px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.18);
    display: block;
    padding: 20px 0px 0px;
    margin-bottom: 20px;
  }
  .profile-card figure {
    margin: 0px auto;
    background: #292F35;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
  }
  .profile-card figure i {
    font-size: 32px;
    color: #fff;
    vertical-align: middle;
  }
  
  .profile-card table i {
    font-size: 22px;
      margin-right: 17px;
  }
  
  .profile-card h3 {
    font-size: 18px;
    text-align: center;
    color: #000;
    margin: 20px auto;
    text-transform: uppercase;
    font-family: var(--head-font);
    font-weight: 700;
  }
  
  .download_card{
    background: #000;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color:white !important;
  cursor: pointer;
  }
  .video_meeting {
    position: absolute;
    top: 64%;
      left: 33%;
    cursor: pointer;
    height: 10vh;
    width: 7vw;
    // background: black;
    .pulsating-circle{
    position: absolute;
    top: 23%;
    left: 20%;
  }
  }
  .live_chat {
    position: absolute;
    top: 47%;
    left: 16%;
    cursor: pointer;
    height: 9vh;
    width: 6vw;      
  .pulsating-circle{
    position: absolute;
    top: 23%;
    left: 25%;
    cursor: pointer;
  }
  }
  .title {
    position: absolute;
    top: 6%;
    left: 68%;
    font-weight: bold;
   // cursor: pointer;
    // background: black;
    height: 6vh;
    width: 25vw; 
    .pulsating-circle{
      position: absolute;
      top: 23%;
      left: 25%;
      cursor: pointer;
    }      
  
  }
  
  .linkedin{
    position: absolute;
    top: 85%;
    left: 48%;
    font-weight: bold;
    height: 6vh;
    width: 2vw;
    //border: 1px solid; 
  }
  .youtube{
    position: absolute;
    top: 85%;
    left: 50.8%;
    font-weight: bold;
    height: 6vh;
    width: 2vw;
    //border: 1px solid; 
  }
  .facebook{
    position: absolute;
    top: 85%;
    left: 53.2%;
    font-weight: bold;
    height: 6vh;
    width: 2vw;
    //border: 1px solid; 
  }
  .first_link{
    position: absolute;
    top: 29%;
    left: 10%;
    font-weight: bold;
    height: 6vh;
    width: 12vw;
   // border: 1px solid;
  }
  
  .second_link{
    position: absolute;
    top: 26%;
    left: 42%;
    font-weight: bold;
    height: 6vh;
    width: 10vw;
  }
  
  .third_link{
    position: absolute;
    top: 26%;
    left: 52%;
    font-weight: bold;
    height: 6vh;
    width: 8vw;
    //border: 1px solid;
  }
  .logo1{
    position: absolute;
    top: 5%;
    left: 53%;
    //font-weight: bold;
   // cursor: pointer;
    // background: black;
    height: 6vh;
    width: 25vw; 
    .pulsating-circle{
      position: absolute;
      top: 23%;
      left: 25%;
      cursor: pointer;
    } 
  }
  .connectUs {
    position: absolute;
    top: 74%;
      left: 49%;
    cursor: pointer;
    // background: black;
    height: 6vh;
    width: 4vw;       
  .pulsating-circle{
    position: absolute;
    top: 70%;
    left: 50%;
    cursor: pointer;
  }
  } 
  .creatve1 {
    position: absolute;
    top: 44%;
    left: 50%;
    cursor: pointer;
    // background: black;
    height: 10vh;
    width: 20vw;  
    .pulsating-circle{
      position: absolute;
      top: 70%;
      left: 50%;
      cursor: pointer;
    }      
  
  }
  .creatve2 {
    position: absolute;
    top: 44%;
    left: 63%;
    cursor: pointer;
    // background: black;
    height: 10vh;
    width: 20vw;       
    .pulsating-circle{
      position: absolute;
      top: 70%;
      left: 50%;
      cursor: pointer;
    } 
  }
  .creatve3 {
    position: absolute;
    top: 47%;
    left: 20%;
    cursor: pointer;
    height: 10vh;
    width: 20vw; 
    .pulsating-circle{
      position: absolute;
      top: 70%;
      left: 50%;
      cursor: pointer;
    }      
  
  }
  .logo2 {
    position: absolute;
    top: 75%;
      left: 16%;
    cursor: pointer;
    // background: black;
    height: 6vh;
    width: 5vw; 
  }
  #modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
  }
  
  #image_profile {
    img {
        float: left;
        border-radius: 50%;
    }
    #profile_detail {
        padding: 5px;
        margin-left: 55px;
  
        #profile_name {
            font-weight: 600;
        }
    }
  }
  .profileImage {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: cadetblue;
    font-size: 14px;
    color: #fff;
    text-align: center;
    float: right;
    font-weight: bold;
    padding: 10px;
  }
  .profileImage1 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #28a745;
    font-size: 14px;
    color: #fff;
    text-align: center;
    float: left;
    font-weight: bold;
    padding: 10px;
  }
  .bord:nth-child(even) {
    border-left: 5px solid cadetblue;
  }
  
  .bord:nth-child(odd) {
    border-left: 5px solid black;
  }
  #profile_details {
    padding: 0px;
    margin-left: 115px;
  
    #profile_name {
        font-weight: 600;
    }
  }
  #profile_detail1 {
    padding: 5px;
    margin-left: 55px;
  
    #profile_name {
        font-weight: 600;
    }
  }
  #search_tab .form-control {
      padding-left: 25px;
  }
  #search_tab {
      position: relative;
  }
  #search_tab .fa-paper-plane {
      position: absolute;
      color: white;
      vertical-align: center;
      top: 1px;
      right: 1px;
      font-size: 20px;
      background-color: #da251c;
      width: 37px;
      height: 33px;
  
  }
  .fa-arrow-right{
    right: 27%;
      position: absolute;
      top: 3%;
      font-size: 3em;
      cursor: pointer;
      color:whitesmoke;
    outline: -webkit-focus-ring-color auto 0px !important;
  }
  .fa-arrow-left{
    left: 27%;
      position: absolute;
      top: 3%;
      color: whitesmoke;
      font-size: 3em;
      cursor: pointer;
  outline: -webkit-focus-ring-color auto 0px !important;

  }